.doctors {
  &__bl1 {
  }
  
  &__text1 {
    @extend .text-body;
    margin-bottom: 100px;

    @include media-breakpoint-only('s') {
      margin-bottom: 50px;
    }
  }

  &__text2 {
    @extend .text-large;
    margin-bottom: 100px;

    @include media-breakpoint-only('s') {
      margin-bottom: 50px;
    }
  }

  &__bl2 {
    padding: 50px 50px 30px 50px;
    margin-bottom: 50px;
    border: 1px solid #E6E6E6;
    
    @include media-breakpoint-only('s') {
      padding: 20px 20px 10px 20px;
    }
  }
  
  &__img1 {
    border: 1px solid #E6E6E6;
    margin-bottom: 20px;
  }

  &__text3 {
    @extend .text-body;
    flex: 0 0 320px;

    @include media-breakpoint-only('s') {
      flex: 0 0 92px;
    }
  }

  &__hr1 {
    height: 1px;
    background: #969797;
    flex-grow: 1;
    border-radius: 5px;
  }
  &__hr2 {
    height: 2px;
    background: #969797;
    flex-grow: 1;
    border-radius: 5px;
  }
  &__hr3 {
    height: 3px;
    background: #969797;
    flex-grow: 1;
    border-radius: 5px;
  }
  &__hr4 {
    height: 4px;
    background: #969797;
    flex-grow: 1;
    border-radius: 5px;
  }
  &__hr5 {
    height: 5px;
    background: #969797;
    flex-grow: 1;
    border-radius: 5px;
  }

  &__bl3 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    @include media-breakpoint-only('s') {
      flex: 0 0 92px;
    }
  }

  &__text4{
    @extend .text-body;
    margin-bottom: 150px;

    @include media-breakpoint-only('s') {
      margin-bottom: 100px;
    }
  }

  &__text5 {
    @extend .text-sub;
    margin-bottom: 30px;
  }

  &__text6 {
    @extend .text-large;
    margin-bottom: 50px;
  }

  &__img2 {
    margin-bottom: 20px;

    @include media-breakpoint-only('s') {
      margin-bottom: 10px;
      border: 1px solid #E6E6E6;
    }
  }

  &__cap {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-transform: uppercase;
    color: #303034;

    @include media-breakpoint-only('s') {
      font-size: 16px;
    }
  }

  &__bl4 {
    @include media-breakpoint-only('s') {
      margin-bottom: 30px;
    }
  }

  &__bl5 {
    margin-bottom: 50px;

    @include media-breakpoint-only('s') {
      margin-bottom: 20px;
    }
  }

  &__text7 {
    @extend .text-body;
    margin-bottom: 150px;

    @include media-breakpoint-only('s') {
      margin-bottom: 100px;
    }
  }

  &__text8 {
    @extend .text-body;
    margin-bottom: 50px;

    @include media-breakpoint-only('s') {
      margin-bottom: 30px;
    }
  }

  &__img3 {
    margin-bottom: 200px;

    @include media-breakpoint-only('s') {
      margin-bottom: 100px;
    }
  }
}

.d-cover {
  height: 715px;
  margin-bottom: 150px;
  position: relative;

  @include media-breakpoint-only('s') {
    height: 537px;
    margin-bottom: 50px;
  }

  &__h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    color: #303034;
    margin-bottom: 40px;
    max-width: 860px;
    padding-top: 127px;
    margin-top: 0;

    @include media-breakpoint-only('s') {
      font-size: 28px;
      line-height: 34px;
      margin-bottom: 20px;
      padding-top: 25px;
    }
  }

  &__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #65656C;
    max-width: 495px;

    @include media-breakpoint-only('s') {
      font-size: 14px;
      line-height: 150%;
    }
  }

  &__back {
    position: absolute;
    right: 0;
    left: 50%;
    top: 0;
    bottom: 0;
    z-index: -1;

    @include media-breakpoint-only('s') {
      left: 0;
    }
  }

  &__bg1 {
    width: 100%;
    height: 100%;
    background-size: cover;

    @include media-breakpoint-only('s') {
      display: none;
    }
  }
  
  &__bg2 {
    width: 100%;
    height: 100%;
    background-size: cover;
    display: none;
    background-position: bottom;

    @include media-breakpoint-only('s') {
      display: block;
    }
  }

}