.contact-us-block {
  padding: 25px 0 30px;
  overflow-x: hidden;

  @include media-breakpoint-only('s') {
    padding: 30px 0 10px;
  }

  &__h2 {
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    letter-spacing: -0.02em;
    color: #303034;
    margin-top: 0;
    margin-bottom: 30px;

    @include media-breakpoint-only('s') {
      margin-bottom: 20px;
      font-size: 36px;
      line-height: 36px;
    }
  }

  &__back {
    margin-bottom: 50px;

    @include media-breakpoint-only('s') {
      margin-bottom: 0;
    }
  }

  &__desc {
    font-size: 18px;
    line-height: 22px;
    color: #65656C;
    max-width: 360px;

    @include media-breakpoint-only('s') {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  &__info {
    background: #F5F5F7;
    // border-top-left-radius: 10px;
    // border-bottom-left-radius: 10px;
    padding: 80px 0 80px 100px;
    position: relative;
    height: 100%;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 100px;
      width: 100vw;
      background: #F5F5F7;
      z-index: -1;

      @include media-breakpoint-only('s') {
        left: -500px;
        display: none;
      }
    }

    @include media-breakpoint-only('s') {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding: 30px 20px;
    }
  }
}

.contact-form {
  @include media-breakpoint-only('s') {
    margin-bottom: 50px;
  }

  &__text {
    @extend .text-form-label;
    color: $color__gray-darker-text;
  }

  &__input {
    width: 100%;
    margin-bottom: 20px;

    @include media-breakpoint-only('s') {
      margin-bottom: 15px;
    }
  }

  &__textarea {
    min-height: 150px;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 70px;

    @include media-breakpoint-only('s') {
      margin-bottom: 30px;
    }
  }

  &__check {
    margin-left: 15px;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #65656C;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-2 {
      justify-content: center;
    }
  }

  &__recaptcha {
    @include media-breakpoint-only('s') {
      margin-bottom: 20px;
    }
  }

  &__submit {
    padding: 20px 120px!important;

    @include media-breakpoint-only('s') {
			font-size: 10px!important;
			padding: 12px 40px!important;
			align-self: stretch;
			text-align: center;
      width: 100%;
	  }

    &-2 {
      padding: 20px 60px!important;

      @include media-breakpoint-only('s') {
        padding: 12px 40px!important;
      }
    }
  } 


  &__text2 {
    font-weight: 500;
    font-size: 17px;
    line-height: 27px;
    color: #505050;
    padding: 10px 20px;
    background: #F8F8F8;
    border-radius: 5px;
    margin-bottom: 30px;

    @include media-breakpoint-only('s') {
      font-size: 15px;
      line-height: 18px;
      padding: 10px 150px 10px 10px;
      margin-bottom: 20px;
    }
  }

  &__rl {
    display: flex;
    @extend .text-body;
    color: #383838;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 15px;

  }

  &__radio {
    width: auto;
    margin-right: 10px;
    margin-top: 6px;
    margin-bottom: 0;
    margin-top: 0;
  }

  &__sel {
    margin-bottom: 30px;

    @include media-breakpoint-only('s') {
      margin-bottom: 10px;
    }
  }
}

.c-info {
  &__header {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #303034;
    margin-bottom: 10px;
    color: $color__gray-darker-text;

    @include media-breakpoint-only('s') {
      margin-bottom: 5px;
      font-size: 14px;
    }
  }

  &__text {
    max-width: 210px;
    font-size: 18px;
    line-height: 150%;
    color: #65656C;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    @include media-breakpoint-only('s') {
      margin-bottom: 5px;
      font-size: 16px;
    }


  }

  &__hr {
    margin-bottom: 20px;
  }

  &__link {
    font-size: 18px;
    line-height: 150%;
    color: #65656C;
    text-decoration-color: rgba(0, 0, 0, 0);
    transition: .3s;

    &:hover {
        text-decoration-color: #383838;
    }

    @include media-breakpoint-only('s') {
      font-size: 16px;
    }
  }
}