.contact-us-block {
  padding: 100px 0;
  overflow-x: hidden;

  @include media-breakpoint-only('s') {
    padding: 50px 0 0;
  }

  &__h2 {
    @extend .h2;
    margin-top: 0;
    margin-bottom: 20px;

    @include media-breakpoint-only('s') {
      margin-bottom: 25px;
    }
  }

  &__back {
    background: $color__gray-lightest;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  &__desc {
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: $color__gray-darker-text;
    padding: 10px 20px;
    max-width: 360px;

    @include media-breakpoint-only('s') {
      font-size: 15px;
      line-height: auto;
      padding: 10px;
    }
  }

  &__info {
    background: $color__gray-lightest;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 62px 0 62px 100px;
    position: relative;
    height: 100%;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 100px;
      width: 100vw;
      background: $color__gray-lightest;
      z-index: -1;

      @include media-breakpoint-only('s') {
        left: -500px;
        width: 2000px;
      }
    }

    @include media-breakpoint-only('s') {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding: 50px 0;
    }
  }
}

.contact-form {
  @include media-breakpoint-only('s') {
    margin-bottom: 50px;
  }

  &__text {
    @extend .text-form-label;
    color: $color__gray-darker-text;
  }

  &__input {
    width: 100%;
    margin-bottom: 20px;

    @include media-breakpoint-only('s') {
      margin-bottom: 15px;
    }
  }

  &__textarea {
    min-height: 162px;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__check {
    margin-left: 15px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__recaptcha {
    @include media-breakpoint-only('s') {
      margin-bottom: 20px;
    }
  }

  &__submit {
    align-self: center;
    @include media-breakpoint-only('s') {
      width: 100%;
      text-align: center;
    }
  }


  &__text2 {
    font-weight: 500;
    font-size: 17px;
    line-height: 27px;
    color: #505050;
    padding: 10px 20px;
    background: #F8F8F8;
    border-radius: 5px;
    margin-bottom: 30px;

    @include media-breakpoint-only('s') {
      font-size: 15px;
      line-height: 18px;
      padding: 10px 150px 10px 10px;
      margin-bottom: 20px;
    }
  }

  &__rl {
    display: flex;
    @extend .text-body;
    color: #383838;
    margin-bottom: 10px;
  }

  &__radio {
    width: auto;
    margin-right: 10px;
    margin-top: 6px;
  }

  &__sel {
    margin-bottom: 30px;

    @include media-breakpoint-only('s') {
      margin-bottom: 10px;
    }
  }
}

.c-info {
  &__header {
    @extend .text-form-label;
    margin-bottom: 10px;
    color: $color__gray-darker-text;

    @include media-breakpoint-only('s') {
      margin-bottom: 5px;
    }
  }

  &__text {
    font-size: 15px;
    line-height: 27px;
    color: $color__gray-body-text;
    max-width: 164px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    @include media-breakpoint-only('s') {
      margin-bottom: 5px;
    }


  }

  &__hr {
    margin-bottom: 20px;
  }

  &__link {
    color: #383838;
    text-decoration-color: rgba(0, 0, 0, 0);
    transition: .3s;

    &:hover {
        text-decoration-color: #383838;
    }
  }
}