.single-event {
  &__tag {
    @extend .tag;
    display: inline-block;
    margin-right: 10px;
  }

  &__title {
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    letter-spacing: -0.02em;
    color: #303034;
    margin: 50px 0;

    @include media-breakpoint-only("s") {
      margin: 30px 0;
      font-size: 36px;
      line-height: 100%;
    } 
  }

  &__content {
    @extend .text-body;

    p {
      margin-bottom: 20px;
    }
  }

  &__cover {
    padding: 100px 0 150px;
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;

    @include media-breakpoint-only("s") {
      padding: 20px 0;
      margin-bottom: 30px;
    } 
  }

  &__box {
    padding: 40px;
    background: #F8F8F8;

    @include media-breakpoint-only("s") {
      padding: 20px;
    } 
  }

  &__num {
    font-weight: normal;
    font-size: 144px;
    line-height: 174px;
    text-transform: uppercase;
    color: #FFFFFF;

    @include media-breakpoint-only("s") {
      font-weight: normal;
      font-size: 56px;
      margin-bottom: 5px;
      line-height: 68px;
    } 
  }

  &__mounth {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;

    @include media-breakpoint-only("s") {
      font-size: 16px;
      line-height: 150%;
    } 
  }

  &__date {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

    @include media-breakpoint-only("s") {
      margin-bottom: 25px;
    } 
  }

  &__sub {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #383838;
    margin-bottom: 20px;

    @include media-breakpoint-only("s") {
      font-size: 13px;
      margin-bottom: 0;
    } 
  }

  &__header {
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
    max-width: 600px;

    @include media-breakpoint-only("s") {
      font-size: 19px;
      line-height: 23px;
    } 
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__item {
    @include media-breakpoint-only("s") {
      display: flex;
      justify-content: space-between;
      padding: 10px;
    } 
  }

  &__value {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #505050;

    @include media-breakpoint-only("s") {
      font-size: 13px;
      text-align: right;
      padding-left: 10px;
    }
  }

  &__hr {
    margin: 30px 0;

    @include media-breakpoint-only("s") {
      margin: 20px 0;
    } 
  }

  &__time, &__place {
    font-size: 14px;
    line-height: 150%;
    color: #303034;
    margin-bottom: 10px;

    @include media-breakpoint-only("s") {
      font-size: 14px;
      line-height: 150%;
    } 
  }
  
  &__bl2 {
    margin-bottom: 100px;

    @include media-breakpoint-only("s") {
      margin-bottom: 50px;
    } 
  }

  &__img {
    width: 100%;
  }
}