.footer {
    @extend .container;

    &__hr {
        display: none;

        @include media-breakpoint-only('s') {
            display: block;
        }
    }
}

.footer-top {
    padding-top: 60px;
    padding-bottom: 60px;

    @include media-breakpoint-only('s') {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    &__logo {
        margin-bottom: 30px;
    }

    &__header {
        @extend .text-footernav-uppercase;
        margin-bottom: 30px;

        @include media-breakpoint-only('s') {
            margin-bottom: 20px;
        }
    }
}
