.product-menu {
  margin-bottom: 100px;
  
  @include media-breakpoint-only('s') {
    margin-bottom: 50px;
  }

  &__container {
    @extend .container;
  }

  &__list {
    margin: 0;
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0;
    
    @include media-breakpoint-only('s') {
      margin: 0 0 -15px 0 ;
    }
  }
  
  &__box {
    padding: 18px 50px;
    background: $color__gray-navigation;
    display: inline-block;
    border-radius: 3px;

    @include media-breakpoint-only('s') {
      padding: 5px 10px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;

      @include media-breakpoint-only('s') {
        margin-right: 15px;
      }
    }
    
    @include media-breakpoint-only('s') {
      margin-bottom: 20px;
    }

  }

  &__link {
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 0.005em;
    text-decoration: none;
    color: $color__btn-hover;

    &:hover {
      color: $color__blue-btn-accent;
    }
  }
}

