.t-1 {
  .box {
    border: 1px solid #ECECEC;
    padding: 40px 30px;
    margin-bottom: 40px;

    @include media-breakpoint-only("s") {
      padding: 20px;
      margin-bottom: 30px;
    }

    .title {
      @extend .h3;
      color: #505050;
      margin-bottom: 10px;
    }

    hr {
      margin-bottom: 30px;

      @include media-breakpoint-only("s") {
        margin-bottom: 15px;
      }
    }

    .text {
      @extend .text-body;
      color: #383838;

      p {
        padding: 0;
        margin: 0;
      }
    }
  }

  .box-2 {
    margin-bottom: 20px;

    .text {
      @extend .h6;
      text-align: center;
      color: #505050;
      margin-bottom: 10px;
    }

    .image {
      width: 100%;
    }
  }

  .mar {
    margin-bottom: 70px;

    @include media-breakpoint-only("s") {
      margin-bottom: 20px;
    }
  }

  .mode {
    background: #F8F8F8;
    margin-bottom: 100px;
    padding: 100px 0;

    @include media-breakpoint-only("s") {
      margin-bottom: 50px;
      padding: 50px 0;
    }

    .title {
      @extend .h3;
      color: #505050;
      margin-bottom: 10px;
    }

    .bl {
      position: relative;
      height: 700px;

      @include media-breakpoint-only("s") {
        height: 550px;
      }

      .image-1 {
        position: absolute;
        left: 40px;
        top: 0;

        @include media-breakpoint-only("s") {
          width: 156px;
          left: 0;
        }
      }

      .image-2 {
        position: absolute;
        right: 0;
        top: 100px;

        @include media-breakpoint-only("s") {
          left: 0;
          top: 250px;
        }
      }

      .text-2{
        position: absolute;
        top: 0;
        right: 0;

        @include media-breakpoint-only("s") {
          right: 50px;
          top: 20px;
        }
      }

      .text-1 {
        @extend .h8;
        position: absolute;
        bottom: 0;
        left: 0;
        max-width: 346px;

        @include media-breakpoint-only("s") {
          position: absolute;
          bottom: 47px;
          left: 20px;
          max-width: 158px;
        }
      }
    }
  }

  .o {
    padding: 100px 0;

    @include media-breakpoint-only("s") {
      padding: 50px 0;
    }

    .title {
      @extend .h3;
      color: #505050;
      max-width: 585px;
      margin-bottom: 20px;

      @include media-breakpoint-only("s") {
        margin-bottom: 15px;
      }
    }

    .text {
      @extend .text-body;
      color: #383838;
      margin-bottom: 50px;

      @include media-breakpoint-only("s") {
        margin-bottom: 20px;
      }
    }
  }

  .v {
    background: linear-gradient(270deg, #5E95BF 0%, #89B4D6 100%);
    padding: 100px 0;
    margin-bottom: 100px;

    @include media-breakpoint-only("s") {
      padding: 50px 0;
      margin-bottom: 50px;
    }

    .image-1 {
      margin-bottom: 100px;
      @include media-breakpoint-only("s") {
        display: none;
      }
    }

    .image-2 {
      display: none;
      @include media-breakpoint-only("s") {
        display: block;
        margin-bottom: 50px;
      }
    }

    .title {
      @extend .h3;
      color: #FEFEFE;
      margin-bottom: 10px;
    }

    .hr {
      margin: 0 0 80px 0;
      position: relative;
      
      &::before {
        content: '';
        position: absolute;
        right: 0;
        height: 1px;
        background: $color__gray-line;
        width: 100vw;
      }

      &.white {
        &:after {
          background: $color__white;
        }
      }

      &:after {
        content: '';
        position: absolute;
        height: 7px;
        width: 7px;
        border-radius: 100%;

        background: $color__white;
        top: -3px;
      }

      &.white {
        &:before {
          background: $color__white;
        }
      }

      @include media-breakpoint-only("s") {
        margin: 0 0 100px 0;
      }
    }

    .text-2 {
      @extend .text-body;
      color: #FEFEFE;

      @include media-breakpoint-only("s") {
        order: 1
      }
    }

    .text {
      @extend .text-body;
      color: #FEFEFE;
    }

    .alc {
      align-items: center;
      position: relative;
    }

    .m-order-1 {
      @include media-breakpoint-only("s") {
        order: 1
      }
    }

    .image-4 {
      position: absolute;
      top: -80px;
      right: 0;
      width: 400px;

      @include media-breakpoint-only("s") {
        top: -100px;
        width: 208px;
      }
    }
  }
}

.t-2 {
  margin-bottom: 200px;

  @include media-breakpoint-only("s") {
    margin-bottom: 100px;
  }

  .title {
    @extend .h3;
    color: #505050;
    margin-bottom: 10px;

    @include media-breakpoint-only("s") {
      display: none;
    }
  }

  .titl1 {
    display: none;

    @include media-breakpoint-only("s") {
      display: block;
    }
  }

  .hr {
    margin-bottom: 30px;
    @include media-breakpoint-only("s") {
      display: none;
    }
  }

  .alc {
    align-items: center;
    margin-bottom: 100px;
  }

  .image {
    @include media-breakpoint-only("s") {
      margin-bottom: 15px;
    }
  }

  .text {
    @extend .text-body;
    color: #383838;
  }

  .t-2-slider {
    margin-bottom: 200px;

    @include media-breakpoint-only("s") {
      margin-bottom: 100px;
    }
  }

  .swiper-slide {
    box-sizing: border-box;
    .block {
      border: 1px solid #ECECEC;

      .b-title {
        @extend .h3;
        color: #505050;
        text-align: center;
        margin-top: 10px;

        @include media-breakpoint-only("s") {
          margin-top: 20px;
          margin-bottom: 10px;
        }
      }

      .b-subtitle {
        @extend .text-body;
        color: #383838;
        text-align: center;
        margin-bottom: 10px;
      }

      .b2 {
        height: 230px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .bll {
        margin: 0 20px;
        padding: 15px;
        background: #F8F8F8;
        height: 125px;
        margin-bottom: 60px;

        @include media-breakpoint-only("s") {
          height: 81px;
          margin-bottom: 30px;
        }

        .text-1 {
          @extend .h4;
          color: #505050;
          margin-bottom: 14px;
          text-align: center;

          @include media-breakpoint-only("s") {
            margin-bottom: 10px;
          }
        }

        .text-2 {
          @extend .text-body;
          color: #383838;
          text-align: center;
          padding: 0 50px;
        }
      }

      .title-3 {
        @extend .h6;
        color: #383838;
        text-align: center;
        margin-bottom: 10px;
        text-align: center;

        @include media-breakpoint-only("s") {
          max-width: 100%;
        }
      }

      .img-2 {
        display: block;
        margin: 0 auto;
        margin-bottom: 60px;
        max-width: 194px;

        @include media-breakpoint-only("s") {
          margin-bottom: 30px;
        }
      }

      .img-3 {
        display: block;
        margin: 0 auto;
      }
    }
  }

  .bl-3 {
    .b-title {
      @extend .h3;
      color: #505050;
      margin-bottom: 10px;

    }

    hr.hr-2 {
      margin: 0 0 80px 0;
      position: relative;
      margin-bottom: 50px;
      
      &::before {
        content: '';
        position: absolute;
        right: 0;
        height: 1px;
        background: $color__gray-line;
        width: 100vw;
      }

      &.white {
        &:after {
          background: $color__white;
        }
      }

      &.white {
        &:before {
          background: $color__white;
        }
      }

      @include media-breakpoint-only("s") {
        margin: 0 0 40px 0;
      }
    }
  }

  .bl-n {
    padding: 20px;
    background: #F8F8F8;

    @include media-breakpoint-only("s") {
      padding: 10px;
      margin-bottom: 30px;
    }
  }

  .text-23 {
    @extend .text-body;
    color: #383838;
    text-align: center;
  }

  .image-bl {
    margin-bottom: 5px;
  }
}

.t-3 {
  padding-bottom: 200px;

  @include media-breakpoint-only("s") {
    padding-bottom: 100px;
  }

  &__subtitle {
    @extend .h1;
    color: #505050;
    padding: 30px 70px;
    border-bottom: 1px solid #ECECEC;
    border-top: 1px solid #ECECEC;
    margin-bottom: 50px;

    @include media-breakpoint-only("s") {
      padding: 15px 0;
      margin-bottom: 20px;
    }
  }

  &__text {
    @extend .text-body;
    color: #383838;
  }

  &__img {
    @include media-breakpoint-only("s") {
      margin-bottom: 20px;
    }
  }
}

.t-4 {
  padding-bottom: 200px;

  @include media-breakpoint-only("s") {
    padding-bottom: 100px;
  }

  &__title {
    @extend .h3;
    color: #505050;
    margin-bottom: 50px;
    opacity: .3;

    @include media-breakpoint-only("s") {
      padding-bottom: 20px;
    }
  }

  &__num {
    @extend .h3;
    color: #ECECEC;
    margin-bottom: 5px;
  }

  &__hr {
    margin-bottom: 50px;

    @include media-breakpoint-only("s") {
      margin-bottom: 20px;
    }
  }

  &__title-2 {
    @extend .h6;
    margin-bottom: 5px;
    color: #383838;
  }

  &__text-2 {
    @extend .text-body;
    color: #383838;
    margin-bottom: 20px;
  }

  &__img {
    margin-bottom: 25px;

    @include media-breakpoint-only("s") {
      margin-bottom: 20px;
    }
  }

  &__text-3 {
    @extend .text-body;
    color: #383838;

    @include media-breakpoint-only("s") {
      margin-bottom: 30px;
    }
  }

  &__block {
    margin-bottom: 100px;

    @include media-breakpoint-only("s") {
      margin-bottom: 50px;
    }
  }

  &__block-2 {
    padding: 100px 0;
    background: linear-gradient(270deg, #5E95BF 0%, #89B4D6 100%);
    margin-bottom: 100px;

    @include media-breakpoint-only("s") {
      padding: 50px 0;
      margin-bottom: 50px;
    }
  }

  &__title-3 {
    @extend .h2;
    color: $color__white;
    padding: 20px 0 30px;
    border-bottom: 1px solid $color__white;
    border-top: 1px solid $color__white;
    margin-bottom: 30px;

    @include media-breakpoint-only("s") {
      padding: 15px 0;
      text-align: center;
      margin-bottom: 20px;
    }
  }

  &__text-3 {
    @extend .text-body;
    color: $color__white;
  }

  &__block-3 {
    margin-bottom: 200px;

    @include media-breakpoint-only("s") {
      margin-bottom: 50px;
    }
  }

  &__title-4 {
    @extend .h3;
    color: #505050;

    @include media-breakpoint-only("s") {
      margin-bottom: 20px;
    }
  }

  &__text-4 {
    @extend .text-body;
    color: #383838;
  }

  &__text-5 {
    @extend .text-body;
    color: #383838;
    margin-bottom: 50px;

    @include media-breakpoint-only("s") {
      margin-bottom: 20px;
    }
  }

  &__box {
    background: linear-gradient(270deg, #5E95BF 0%, #89B4D6 100%);
    padding: 30px 0;
  }

  &__box-2 {
    padding: 0 20px 0;
  }

  &__title-5 {
    margin-bottom: 15px;
    color: $color__white;
    @extend .h4;

    @include media-breakpoint-only("s") {
      margin-bottom: 10px;
    }
  }

  &__text-6 {
    @extend .text-body;
    color: $color__white;
  }

  &__dn {
    display: none;
    
    @include media-breakpoint-only("s") {
      display: block;
    }
  }

  &__hr-2 {
    background: $color__white;
    margin: 15px 20px;
    
  }

  &__box-3 {
    

    @include media-breakpoint-only("s") {
      overflow-x: scroll;
    }
  }

  &__image-5 {
    min-width: 100%;

    @include media-breakpoint-only("s") {
      height: 400px;
      max-width: fit-content;
    }
  }
}

.t5 {
  margin-bottom: 200px;
  
  
  @include media-breakpoint-only("s") {
    margin-bottom: 100px;
  }
  
  &__supp {
    position: relative;
  }

  &__block1 {
    background: linear-gradient(270deg, #5E95BF 0%, #89B4D6 100%);
    padding: 100px 0 270px;

    @include media-breakpoint-only("s") {
      padding: 50px 0 280px;
    }

    &-subtitle {
      @extend .h3;
      color: $color__white;
      margin-bottom: 20px;

      @include media-breakpoint-only("s") {
        margin-bottom: 95px;
      }
    }

    &-text {
      @extend .text-body;
      color: $color__white;
    }

    &-image1 {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &-image2 {
      position: absolute;
      bottom: 0;
      right: 0;

      @include media-breakpoint-only("s") {
        top: 146px;
        right: 0;
        width: 137px;
      }
    }


  }

  &__block2 {
    padding: 200px 0 200px;
    position: relative;

    @include media-breakpoint-only("s") {
      padding: 100px 0 400px;
    }

    &-image2 {
      position: absolute;
      right: 0;

      @include media-breakpoint-only("s") {
        width: 400px;
      }
    }

    &-subtitle {
      @extend .h3;
      color: #505050;
      margin-bottom: 10px;
    }

    &-hr {
      position: relative;
      margin-bottom: 30px;

      @include media-breakpoint-only("s") {
        margin-bottom: 20px;
      }

      &:before {
        content: '';
        height: 1px;
        position: absolute;
        background: #ECECEC;
        left: -90vw;
        width: 100vw;
      }
    }

    &-text {
      @extend .text-body;
      color: #383838;
    }
  }

  &__block3 {
    background: linear-gradient(270deg, #5E95BF 0%, #89B4D6 100%);
    margin-bottom: 100px;
    padding: 70px 0;
    position: relative;

    @include media-breakpoint-only("s") {
      padding: 50px 0 0 0;
    }

    &-title {
      @extend .h3;
      color: $color__white;
      margin-bottom: 10px;
    }

    &-text {
      @extend .text-body;
      color: $color__white;
      margin-bottom: 10px;  
    }

    &-image {
      position: absolute;
      bottom: 0;

      @include media-breakpoint-only("s") {
        position: initial;
      }
    }

    &-sup {
      @include media-breakpoint-only("s") {
        order: 1;
      }
    }
  }

  &__block4 {
    margin-bottom: 100px;

    &-title {
      @extend .h3;
      color: #505050;

      @include media-breakpoint-only("s") {
        margin-bottom: 10px;
      }
    }

    &-text {
      @extend .text-body;
      color: #383838;
      margin-bottom: 50px;

      @include media-breakpoint-only("s") {
        margin-bottom: 30px;
      }
    }

    &-box {
      padding: 30px;
      background: #F8F8F8;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      height: 100%;

      @include media-breakpoint-only("s") {
        margin-bottom: 20px;
      }
    }

    &-image-1 {
      align-self: center;
      margin-bottom: 40px;

      @include media-breakpoint-only("s") {
        margin-bottom: 30px;
        width: 167px;
      }
    }

    &-mb {
      @include media-breakpoint-only("s") {
        margin-bottom: 30px;
      }
    }

    &-title-1 {
      @extend .h4;
      color: #505050;
      margin-bottom: 10px;
    }

    &-text-1 {
      @extend .text-body;
      color: #383838;
    }
  }

  &__block5 {
    &-box {
      padding: 40px 70px;
      background: #F8F8F8;
      border-radius: 10px;

      @include media-breakpoint-only("s") {
        padding: 30px 20px;
      }
    }

    &-title {
      @extend .h4;
      color: #505050;
      margin-bottom: 10px;
    }

    &-hr {
      margin-bottom: 45px;

      @include media-breakpoint-only("s") {
        margin-bottom: 20px;
      }
    }

    &-img-2 {
      width: 307px;
      display: block;
      margin: 0 auto;
    }

    &-mb {
      margin-bottom: 100px;
      @include media-breakpoint-only("s") {
        margin-bottom: 30px;
      }
    }

    &-box2 {
      padding: 20px 40px 0;
    }

    &-row {
      background: #F8F8F8;
      border-radius: 10px;
    }

    &-subtitle {
      @extend .h3;
      color: #505050;
      margin-bottom: 10px;
    }

    &-hr3 {
      margin-bottom: 30px;

      @include media-breakpoint-only("s") {
        margin-bottom: 20px;
      }
    }

    &-image3 {
      padding-top: 30px;
    }

    &-mbb {
      display: flex;
      align-items: center;
    }

    &-text-4 {
      @extend .text-body;
      color: #383838;
    }
  }
}

.t6 {
  margin-bottom: 200px;

  @include media-breakpoint-only("s") {
    margin-bottom: 100px;
  }

  &__block1 {
    position: relative;

    &-title1 {
      @extend .h3;
      color: #505050;
      margin-bottom: 10px;
  
      @include media-breakpoint-only("s") {
        margin-bottom: 30px;
      }
    }
  
    &-mnone {
      display: none;
  
      @include media-breakpoint-only("s") {
        display: block;
      }
    }

    &-dnone {
      display: block;
  
      @include media-breakpoint-only("s") {
        display: none;
      }
    }

    &-text1 {
      @extend .text-body;
      color: #383838;
      margin-bottom: 150px;

      @include media-breakpoint-only("s") {
        margin-bottom: 50px;
      }
    }

    &-img2 {
      position: absolute;
      right: 0;

      @include media-breakpoint-only("s") {
       position: relative;
      }
    }

    .o-1 {
      order: 1;
    }

    .o-2 {
      @include media-breakpoint-only("s") {
        order: 2;
       }
    }

    &-img3 {
      margin-bottom: 150px;

      @include media-breakpoint-only("s") {
        margin-bottom: 50px;
       }
    }

    &-sup {
      align-items: flex-end;
    }

    &-img4 {
      display: block;
      margin: 0 auto;

      @include media-breakpoint-only("s") {
        margin-bottom: 30px;
        max-width: 241px;
      }
    }

    &-item {
      @extend .h4;
      color: #505050;
      padding: 20px 0;

      @include media-breakpoint-only("s") {
        padding: 15px 0;
      }
    }
    
    &-bl {
      margin-bottom: 100px;

      @include media-breakpoint-only("s") {
        margin-bottom: 50px;
      }
    }
  }
  
  &__block2 {
    &-img {
      padding: 100px 0;

      @include media-breakpoint-only("s") {
        display: none;
      }
    }

    &-img1 {
      display: none;

      @include media-breakpoint-only("s") {
        display: block;
        padding: 50px 0;
      }
    }

    &-box {
      background: #F8F8F8;
      margin-top: 100px;

      @include media-breakpoint-only("s") {
        margin-top: 50px;
      }
    }
    
    &-box1 {
      background: linear-gradient(270deg, #5E95BF 0%, #89B4D6 100%);
      margin-bottom: 100px;

      @include media-breakpoint-only("s") {
        margin-bottom: 50px;
      }
    }
    
    &-title {
      @extend .h3;
      color: #FEFEFE;
      padding: 100px 0;

      @include media-breakpoint-only("s") {
        padding: 50px 0;
      }
    }

    &-title2 {
      @extend .h3;
      color: #505050;
      max-width: 555px;
      margin-bottom: 10px;
    }

    &-hr2 { 
      background: #ECECEC;
      position: relative;
      margin-bottom: 50px;

      @include media-breakpoint-only("s") {
        margin-bottom: 40px;
      }

      &:before {
        content: '';
        height: 1px;
        background: #ECECEC;
        position: absolute;
        width: 100vw;
        left: -80vw;
      }
    }

    &-text3 {
      @extend .text-body;
      color: #383838;
      // margin-bottom: 200px;

      @include media-breakpoint-only("s") {
        margin-bottom: 20px;
      }
    }

    &-text4 {
      @extend .h4;
      color: #383838;
      padding: 20px 0;

      @include media-breakpoint-only("s") {
        padding: 15px 0;
      }
    }

    &-box3 {
      margin-bottom: 200px;

      @include media-breakpoint-only("s") {
        margin-bottom: 100px;
      }
    }

    &-box4 {
      margin-bottom: 100px;

      @include media-breakpoint-only("s") {
        margin-bottom: 50px;
      }
    }

    &-box5 {
      background: linear-gradient(270deg, #5E95BF 0%, #89B4D6 100%);
      margin-bottom: 100px;
      padding: 100px 0;

      @include media-breakpoint-only("s") {
        margin-bottom: 50px;
        padding: 50px 0;
      }
    }

    &-title3 {
      @extend .h3;
      color: #FEFEFE;
      padding: 30px 0;
      text-align: center;
      border-top: 1px solid $color__white;
      border-bottom: 1px solid $color__white;

      @include media-breakpoint-only("s") {
        padding: 15px 0;
      }
    }
  }

  &__block3 {
    margin-bottom: 200px;

    @include media-breakpoint-only("s") {
      margin-bottom: 100px;
    }

    &-img {
      @include media-breakpoint-only("s") {
        margin-bottom: 20px
      }
    }

    &-title {
      @extend .h3;
      color: #505050;
      margin-bottom: 10px;
    }

    &-text {
      @extend .text-body;
      color: #383838;
      margin-bottom: 40px;

      @include media-breakpoint-only("s") {
        margin-bottom: 20px
      }
    }

    &-hr {
      margin-bottom: 20px;
    }

    &-none {
      @include media-breakpoint-only("s") {
        display: none;
      }
    }

    &-db {
      display: none;
      @include media-breakpoint-only("s") {
        display: block;
      }
    }
  }
}

.t7 {
  margin-bottom: 200px;

  @include media-breakpoint-only("s") {
    margin-bottom: 100px;
  }

  &__block1 {
    position: relative;

    &-row {
      align-items: center;
    }

    &-title1 {
      @extend .h3;
      color: #505050;
      margin-bottom: 10px;
  
      @include media-breakpoint-only("s") {
        margin-bottom: 30px;
      }
    }
  
    &-mnone {
      display: none;
  
      @include media-breakpoint-only("s") {
        display: block;
      }
    }

    &-dnone {
      display: block;
  
      @include media-breakpoint-only("s") {
        display: none;
      }
    }

    &-text1 {
      @extend .text-body;
      color: #383838;
      margin-bottom: 150px;

      @include media-breakpoint-only("s") {
        margin-bottom: 50px;
      }
    }

    &-img2 {
      position: absolute;
      right: 0;

      @include media-breakpoint-only("s") {
       position: relative;
      }
    }

    .o-1 {
      order: 1;
    }

    .o-2 {
      @include media-breakpoint-only("s") {
        order: 2;
       }
    }

    &-img3 {
      margin-bottom: 150px;

      @include media-breakpoint-only("s") {
        margin-bottom: 50px;
       }
    }

    &-sup {
      align-items: flex-end;
    }

    &-img4 {
      display: block;
      margin: 0 auto;

      @include media-breakpoint-only("s") {
        margin-bottom: 30px;
        max-width: 241px;
      }
    }

    &-item {
      @extend .h4;
      color: #505050;
      padding: 20px 0;

      @include media-breakpoint-only("s") {
        padding: 15px 0;
      }
    }
    
    &-bl {
      margin-bottom: 100px;

      @include media-breakpoint-only("s") {
        margin-bottom: 50px;
      }
    }
  }

  &__block2 {
    margin-bottom: 200px;

    @include media-breakpoint-only("s") {
      margin-bottom: 50px;
    }

    &-cont {
      position: relative;
      height: 513px;

      @include media-breakpoint-only("s") {
        height: auto;
      }
    }

    &-title1 {
      @extend .h4;
      color: #383838;
      margin-bottom: 10px;
    }

    &-box1 {
      position: absolute;
      left: 0;
      bottom: 0;

      @include media-breakpoint-only("s") {
        position: relative;
      }
    }

    &-bl {
      display: flex;
      max-width: 390px;
      align-items: center;
      justify-content: space-between;

      @include media-breakpoint-only("s") {
        margin-bottom: 30px;
      }
    }

    &-img1 {
      @include media-breakpoint-only("s") {
        width: 128px;
      }
    }

    &-text1 {
      font-weight: normal;
      font-size: 17px;
      line-height: 27px;
      color: #383838;
      padding-left: 20px;

      @include media-breakpoint-only("s") {
        font-size: 15px;
        line-height: 23px;
      }
    }

    &-title2 {
      @extend .h4;
      color: #383838;
      margin-bottom: 20px;
    }

    &-text2 {
      order: 2;

      @include media-breakpoint-only("s") {
        order: 0;
        max-width: 210px;
      }
    }

    &-img2 {
      padding-right: 40px;

      @include media-breakpoint-only("s") {
        position: absolute;
        right: 0;
        padding-right: 0;
      }
    } 

    &-bl2 {
      display: flex;
      max-width: 453px;
      align-items: center;

      @include media-breakpoint-only("s") {
        position: relative;
      }
    }

    &-box2 {
      position: absolute;
      right: 0;
      top: 0;

      @include media-breakpoint-only("s") {
        position: relative;
      }
    }

    &-box3 {
      position: absolute;
      left: 326px;
      z-index: -1;

      @include media-breakpoint-only("s") {
        position: initial;
      }
    }
    
    &-cap1 {
      @extend .text-body;
      color: #383838;
      position: absolute;
      top: 41px;
      left: -151px;

      @include media-breakpoint-only("s") {
        top: 8px;
        left: 73px;
      }
    }
    
    &-cap2 {
      @extend .text-body;
      color: #383838;
      position: absolute;
      top: 57px;
      left: 136px;

      @include media-breakpoint-only("s") {
        top: 60px;
        left: 125px;
      }
    }

    &-cap3 {
      @extend .text-body;
      color: #383838;
      position: absolute;
      top: 228px;
      left: 265px;
    }

    &-cap4 {
      @extend .text-body;
      color: #383838;
      position: absolute;
      top: 309px;
      left: 351px;

      @include media-breakpoint-only("s") {
        top: 366px;
        left: 97px;
      }
    }

    &-bl2 {
      position: relative;
    }
  }

  &__block3 {
    margin-bottom: 200px;

    @include media-breakpoint-only("s") {
      margin-bottom: 80px;
    }

    &-title {
      @extend .h3;
      margin-bottom: 10px;
      color: #505050;
    }

    &-hr {
      background: #ECECEC;
      position: relative;
      margin-bottom: 50px;

      @include media-breakpoint-only("s") {
        margin-bottom: 30px;
      }

      &:before {
        content: '';
        height: 1px;
        background: #ECECEC;
        position: absolute;
        width: 100vw;
        left: -80vw;
      }
    }

    &-img {
      margin-bottom: 20px;

      @include media-breakpoint-only("s") {
        margin-bottom: 10px;
      }
    }

    &-text {
      @extend .h4;
      color: #383838;
      @include media-breakpoint-only("s") {
        margin-bottom: 20px;
      }
    }


  }

  &__block4 {
    margin-bottom: 200px;

    @include media-breakpoint-only("s") {
      margin-bottom: 100px;
    }

    &-title {
      @extend .h3;
      margin-bottom: 10px;
      color: #505050;
    }

    &-hr {
      background: #ECECEC;
      position: relative;
      margin-bottom: 50px;

      @include media-breakpoint-only("s") {
        margin-bottom: 30px;
      }

      &:before {
        content: '';
        height: 1px;
        background: #ECECEC;
        position: absolute;
        width: 100vw;
        left: -80vw;
      }
    }

    &-text1 {
      @extend .text-body;
      color: #383838;

      @include media-breakpoint-only("s") {
        margin-bottom: 30px;
      }
    }

    &-text2 {
      @extend .text-body;
      color: #383838;
    }
  }

  &__block5 {
    margin-bottom: 200px;

    @include media-breakpoint-only("s") {
      margin-bottom: 100px;
    }

    &-title {
      @extend .h3;
      margin-bottom: 10px;
      color: #505050;
      max-width: 653px;
    }

    &-hr {
      background: #ECECEC;
      position: relative;
      margin-bottom: 50px;

      @include media-breakpoint-only("s") {
        margin-bottom: 30px;
      }

      &:before {
        content: '';
        height: 1px;
        background: #ECECEC;
        position: absolute;
        width: 100vw;
        left: -80vw;
      }
    }

    &-rowmb {
      margin-bottom: 100px;

      @include media-breakpoint-only("s") {
        margin-bottom: 40px;
      }
    }

    &-img {
      @include media-breakpoint-only("s") {
        margin-bottom: 20px;
      }
    }

    &-row {
      align-items: center;
    }

    &-sub {
      @extend .h4;
      color: #505050;
      margin-bottom: 20px;
    }

    &-hr2 {

    }

    &-text2 {
      @extend .text-body;
      color: #383838;
      padding: 20px 0;

      @include media-breakpoint-only("s") {
        padding: 15px 0;
      }
    }

    &-order1 {
      @include media-breakpoint-only("s") {
        order: 2;
      }
    }
  }
}

.t8 {
  &__block1 {
    position: relative;
    margin-bottom: 100px;

    @include media-breakpoint-only("s") {
      margin-bottom: 40px;
    }

    &-row {
      
    }

    &-title1 {
      @extend .h3;
      color: #505050;
      margin-bottom: 10px;
  
      @include media-breakpoint-only("s") {
        margin-bottom: 30px;
      }
    }
  
    &-mnone {
      display: none;
  
      @include media-breakpoint-only("s") {
        display: block;
      }
    }

    &-dnone {
      display: block;
  
      @include media-breakpoint-only("s") {
        display: none;
      }
    }

    &-text1 {
      @extend .text-body;
      color: #383838;

    }

    &-img2 {
      position: absolute;
      right: 0;

      @include media-breakpoint-only("s") {
       position: relative;
      }
    }

    .o-1 {
      order: 1;
    }

    .o-2 {
      @include media-breakpoint-only("s") {
        order: 2;
       }
    }

    &-img3 {
      margin-bottom: 150px;

      @include media-breakpoint-only("s") {
        margin-bottom: 50px;
       }
    }

    &-sup {
      align-items: flex-end;
    }

    &-img4 {
      display: block;
      margin: 0 auto;

      @include media-breakpoint-only("s") {
        margin-bottom: 30px;
        max-width: 241px;
      }
    }

    &-item {
      @extend .h4;
      color: #505050;
      padding: 20px 0;

      @include media-breakpoint-only("s") {
        padding: 15px 0;
      }
    }
    
    &-bl {
      margin-bottom: 100px;

      @include media-breakpoint-only("s") {
        margin-bottom: 50px;
      }
    }
  }

  &__block2 {
    height: 720px;
    background-size: cover;
    background-position: center center;
    margin-bottom: 100px;

    @include media-breakpoint-only("s") {
      background-image: none!important;
      height: auto;
      margin-bottom: 40px;
    }

    &-img {
      display: none;

      @include media-breakpoint-only("s") {
        display: block;
      }
    }

    &-text {
      @extend .text-body;
      color: #383838;
      padding-top: 100px;
      max-width: 300px;

      @include media-breakpoint-only("s") {
        padding-top: 20px;
        max-width: auto;
      }
    }
  }

  &__block3 {
    margin-bottom: 200px;

    @include media-breakpoint-only("s") {
      margin-bottom: 70px;
    }

    &-box {
      flex: 0 0 auto;
      width: 20%;

      @include media-breakpoint-only("s") {
        width: 50%;
      }
    }

    &-img {
      margin-bottom: 20px;

      @include media-breakpoint-only("s") {
        margin-bottom: 10px;
    
      }
    }

    &-text {
      @extend .text-body;
      color: #383838;
      margin-bottom: 0;

      @include media-breakpoint-only("s") {
        margin-bottom: 30px;
    
      }
    }
  }

  &__block4 {
    margin-bottom: 100px;

    @include media-breakpoint-only("s") {
      margin-bottom: 50px;
    }

    &-title {
      @extend .h3;
      margin-bottom: 10px;
      color: #505050;
    }

    &-hr {
      background: #ECECEC;
      position: relative;
      margin-bottom: 50px;

      @include media-breakpoint-only("s") {
        margin-bottom: 30px;
      }

      &:before {
        content: '';
        height: 1px;
        background: #ECECEC;
        position: absolute;
        width: 100vw;
        left: -80vw;
      }
    }

    &-img1 {

    }

    &-text1 {
      @extend .text-body;
      color: #383838;
    }

    &-title1 {
      @extend .h4;
      color: #5E95BF;
      margin-bottom: 10px;
    }

    &-b1 {
      padding-top: 50px;

      @include media-breakpoint-only("s") {
        display: none;
      }
    }

    &-title2 {
      @extend .h4;
      color: #5E95BF;
      margin-bottom: 10px;
    }

    &-text2 {
      @extend .text-body;
      color: #383838;
      padding: 10px 0;
    }

    &-hr4 {
      margin-bottom: 30px;

      @include media-breakpoint-only("s") {
        margin-bottom: 20px;
      }
    }

    &-num {
      display: none;

      @include media-breakpoint-only("s") {
        display: inline;
      }
    }

    &-mb {
      margin-bottom: 100px;

      @include media-breakpoint-only("s") {
        margin-bottom: 30px;
      }
    }

    &-or2 {
      @include media-breakpoint-only("s") {
        order: -1;
      }
    }

    &-img3 {
      @include media-breakpoint-only("s") {
        display: none;
      }
    }

    &-img4 {
      display: none;

      @include media-breakpoint-only("s") {
        display: block;
      }
    }
  }

  &__block5 {
    background: linear-gradient(270deg, #5E95BF 0%, #89B4D6 100%);
    padding: 100px 0;
    margin-bottom: 100px;

    @include media-breakpoint-only("s") {
      padding: 50px 0;
      margin-bottom: 50px;
    }

    &-title {
      @extend .h3;
      color: $color__white;
      margin-bottom: 30px;
    }

    &-title2 {
      @extend .h4;
      color: $color__white;
      margin-bottom: 10px;
    }

    &-text2 {
      @extend .text-body;
      color: $color__white;
      padding: 10px 0;
    }

    &-hr4 {
      background: $color__white;

    }

    &-hr5 {
      margin-bottom: 40px;
      background: $color__white;

      @include media-breakpoint-only("s") {
        margin-bottom: 30px;
      }
    }
  }

  &__block6 {
    margin-bottom: 100px;

    @include media-breakpoint-only("s") {
      margin-bottom: 50px;
    }

    &-title {
      @extend .h3;
      margin-bottom: 10px;
      color: #505050;
    }

    &-hr {
      background: #ECECEC;
      position: relative;
      margin-bottom: 50px;

      @include media-breakpoint-only("s") {
        margin-bottom: 30px;
      }

      &:before {
        content: '';
        height: 1px;
        background: #ECECEC;
        position: absolute;
        width: 100vw;
        left: -80vw;
      }
    }

    &-box {
      border: 1px solid #ECECEC;
      padding: 50px;
      height: 220px;
      position: relative;

      @include media-breakpoint-only("s") {
        padding: 30px;
        height: auto;
      }
    }

    &-svg {
      width: 46px;
      height: 46px;
      position: absolute;
      right: 30px;
      top: 30px;
    }

    &-text4 {
      @extend .h6;
      color: #383838;
      max-width: 330px;

      @include media-breakpoint-only("s") {
        max-width: 200px;
      }
    }
  }
}

.t9 {
  &__block1 {
    margin-bottom: 200px;

    @include media-breakpoint-only("s") {
      margin-bottom: 100px;
    }

    &-title {
      @extend .h3;
      margin-bottom: 10px;
      color: #505050;
    }

    &-img1 {
      @include media-breakpoint-only("s") {
        display: none;
      }
    }

    &-img2 {
      display: none;
      @include media-breakpoint-only("s") {
        display: block;
      }
    }

    &-hr {
      background: #ECECEC;
      position: relative;
      margin-bottom: 50px;

      @include media-breakpoint-only("s") {
        margin-bottom: 30px;
      }

      &:before {
        content: '';
        height: 1px;
        background: #ECECEC;
        position: absolute;
        width: 100vw;
        left: -80vw;
      }
    }

    &-img1 {

    }

    &-text1 {
      @extend .text-body;
      color: #383838;
    }

    &-title1 {
      @extend .h4;
      color: #5E95BF;
      margin-bottom: 10px;
    }

    &-b1 {
      padding-top: 50px;

      @include media-breakpoint-only("s") {
        display: none;
      }
    }

    &-title2 {
      @extend .h4;
      color: #5E95BF;
      margin-bottom: 10px;
    }

    &-text2 {
      @extend .text-body;
      color: #383838;
      padding: 20px 0;
    }

    &-hr4 {
      margin-bottom: 30px;

      @include media-breakpoint-only("s") {
        margin-bottom: 20px;
      }
    }

    &-num {
      display: none;

      @include media-breakpoint-only("s") {
        display: inline;
      }
    }

    &-mb {
      margin-bottom: 100px;

      @include media-breakpoint-only("s") {
        margin-bottom: 30px;
      }
    }

    &-or2 {
      @include media-breakpoint-only("s") {
        order: -1;
      }
    }

    &-img3 {
      @include media-breakpoint-only("s") {
        display: none;
      }
    }

    &-img4 {
      display: none;

      @include media-breakpoint-only("s") {
        display: block;
      }
    }

    &-sub {
      @extend .h3;
      color: #505050;
      margin-bottom: 10px;
    }

    &-hr3 {
      margin-bottom: 30px;

      @include media-breakpoint-only("s") {
        margin-bottom: 20px;
      }
    }

    &-t1 {
      @extend .text-body;
      color: #383838;

    }

    &-mb1 {
      margin-bottom: 26px;

      @include media-breakpoint-only("s") {
        margin-bottom: 20px;
      }
    }

    &-rowmb {
      margin-bottom: 100px;

      @include media-breakpoint-only("s") {
        margin-bottom: 40px;
      }
    }
  }

  &__block2 {
    margin-bottom: 100px;

    @include media-breakpoint-only("s") {
      margin-bottom: 50px;
    }

    &-title {
      @extend .h3;
      margin-bottom: 10px;
      color: #505050;
    }

    &-hr {
      background: #ECECEC;
      position: relative;
      margin-bottom: 50px;

      @include media-breakpoint-only("s") {
        margin-bottom: 30px;
      }

      &:before {
        content: '';
        height: 1px;
        background: #ECECEC;
        position: absolute;
        width: 100vw;
        left: -80vw;
      }
    }

    &-img1 {

    }

    &-text1 {
      @extend .text-body;
      color: #383838;
    }

    &-title1 {
      @extend .h4;
      color: #5E95BF;
      margin-bottom: 10px;
    }

    &-b1 {
      padding-top: 50px;

      @include media-breakpoint-only("s") {
        display: none;
      }
    }

    &-title2 {
      @extend .h4;
      color: #5E95BF;
      margin-bottom: 10px;
    }

    &-text2 {
      @extend .text-body;
      color: #383838;
      padding: 10px 0;
    }

    &-hr4 {
      margin-bottom: 30px;

      @include media-breakpoint-only("s") {
        margin-bottom: 20px;
      }
    }

    &-num {
      display: none;

      @include media-breakpoint-only("s") {
        display: inline;
      }
    }

    &-mb {
      margin-bottom: 100px;

      @include media-breakpoint-only("s") {
        margin-bottom: 30px;
      }
    }

    &-or2 {
      @include media-breakpoint-only("s") {
        order: -1;
      }
    }

    &-img3 {
      @include media-breakpoint-only("s") {
        display: none;
      }
    }

    &-img4 {
      display: none;

      @include media-breakpoint-only("s") {
        display: block;
      }
    }
  }

  &__block3 {
    background: linear-gradient(270deg, #5E95BF 0%, #89B4D6 100%);
    padding: 100px 0;
    margin-bottom: 100px;

    @include media-breakpoint-only("s") {
      padding: 50px 0;
      margin-bottom: 50px;
    }

    &-title {
      @extend .h3;
      color: $color__white;
      margin-bottom: 30px;
    }

    &-title2 {
      @extend .h4;
      color: $color__white;
      margin-bottom: 10px;
    }

    &-text2 {
      @extend .text-body;
      color: $color__white;
      padding: 10px 0;
    }

    &-hr4 {
      background: $color__white;

    }

    &-hr5 {
      margin-bottom: 40px;
      background: $color__white;

      @include media-breakpoint-only("s") {
        margin-bottom: 30px;
      }
    }
  }

  &__block4 {
    margin-bottom: 100px;

    @include media-breakpoint-only("s") {
      margin-bottom: 50px;
    }

    &-title {
      @extend .h3;
      margin-bottom: 10px;
      color: #505050;
    }

    &-hr {
      background: #ECECEC;
      position: relative;
      margin-bottom: 50px;

      @include media-breakpoint-only("s") {
        margin-bottom: 30px;
      }

      &:before {
        content: '';
        height: 1px;
        background: #ECECEC;
        position: absolute;
        width: 100vw;
        left: -80vw;
      }
    }

    &-box {
      border: 1px solid #ECECEC;
      padding: 50px;
      height: 220px;
      position: relative;

      @include media-breakpoint-only("s") {
        padding: 30px;
        height: auto;
      }
    }

    &-svg {
      width: 46px;
      height: 46px;
      position: absolute;
      right: 30px;
      top: 30px;
    }

    &-text4 {
      @extend .h6;
      color: #383838;
      max-width: 330px;

      @include media-breakpoint-only("s") {
        max-width: 200px;
      }
    }
  }
}

.t10 {
  &__block1 {
    margin-bottom: 100px;

    @include media-breakpoint-only("s") {
      margin-bottom: 0;
    }

    &-img1{
      @include media-breakpoint-only("s") {
        margin-bottom: 30px;
      }
    }

    &-title {
      @extend .h3;
      color: #505050;
      margin-bottom: 10px;
    }

    &-hr {
      margin-bottom: 30px;

      @include media-breakpoint-only("s") {
        margin-bottom: 20px;
      }
    }

    &-text {
      @extend .text-body;
      color: #383838;
    }

    &-order{
      @include media-breakpoint-only("s") {
        order: -1;
      }
    }

    &-col {
      margin-bottom: 50px;

      @include media-breakpoint-only("s") {
        margin-bottom: 30px;
      }
    }
  }

  &__block2 {
    background: #F8F8F8;
    padding: 78px 122px;

    @include media-breakpoint-only("s") {
      padding: 50px 0;
    }

    &-title {
      @extend .h3;
      color: #505050;
      margin-bottom: 50px;

      @include media-breakpoint-only("s") {
        margin-bottom: 30px;
      }
    }

    .row > *:not(:last-child) {  
      @include media-breakpoint-only("s") {
        margin-bottom: 20px;
      }
    }

    &-box {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid #ECECEC;
      height: 100%;

   

      @include media-breakpoint-only("s") {
        padding: 15px;
      }
    }

    &-subtitle {
      @extend .h4;
      color: #505050;
      margin-bottom: 20px;
      text-align: center;

      @include media-breakpoint-only("s") {
        margin-bottom: 10px;
      }
    }
  }

  &__block3 {
    background: linear-gradient(270deg, #5E95BF 0%, #89B4D6 100%);
    padding: 100px 0;

    @include media-breakpoint-only("s") {
      padding: 50px 0;
    }

    &-title {
      @extend .h3;
      color: $color__white;
      padding: 30px 0;
      text-align: center;
      border-top: 1px solid $color__white;
      border-bottom: 1px solid $color__white;

      @include media-breakpoint-only("s") {
        padding: 15px 0;
      }
    }
  }
  &__block4 {
    padding: 100px 0 200px;

    @include media-breakpoint-only("s") {
      padding: 50px 0;
    }

    &-img {
      @include media-breakpoint-only("s") {
        padding-top: 20px;
      }
    }

    &-row {
      align-items: center;
    }
  }
  &__block5 {
    margin-bottom: 200px;

    @include media-breakpoint-only("s") {
      margin-bottom: 100px;
    }

    &-img {
      padding-top: 50px;
      margin-bottom: 20px;

      @include media-breakpoint-only("s") {
        padding-top: 30px;
        padding-bottom: 10px;
      }
    }

    &-text2 {
      @extend .text-body;
      color: #383838;
    }

    &-color {
      &:nth-child(1) {
        background: linear-gradient(270deg, #858DC5 1.14%, rgba(133, 141, 197, 0.2) 100%);
      }
      &:nth-child(4) {
        background: linear-gradient(270deg, #F8E900 1.14%, rgba(248, 233, 1, 0.2) 100%);
      }
      &:nth-child(7) {
        background: linear-gradient(270deg, #FFD510 1.14%, rgba(255, 213, 17, 0.2) 100%);
      }
      &:nth-child(10) {
        background: linear-gradient(270deg, #F18A56 1.14%, rgba(242, 139, 87, 0.2) 100%);
      }
      &:nth-child(13) {
        background: linear-gradient(270deg, #E62A21 1.14%, rgba(230, 43, 34, 0.2) 100%);
      }
    }

    &-title1 {
      @extend .h4;
      color: $color__white;
      margin-bottom: 10px;
      padding: 6px 30px 6px 100px;
      max-width: 450px;

      @include media-breakpoint-only("s") {
        padding: 6px 30px 6px 30px;
      }
    }

    &-text1 {
      @extend .text-body;
      color: #383838;
      margin-bottom: 20px;

      @include media-breakpoint-only("s") {
        margin-bottom: 10px;
      }
    }
    
    &-hr {
      margin-bottom: 20px;
    }
  }
}

.t11 {
  &__block1 {
    &-box1{
      margin-bottom: 100px;
      
      @include media-breakpoint-only("s") {
        margin-bottom: 30px;
      }
    }

    &-img1 {
      @include media-breakpoint-only("s") {
        margin-bottom: 30px;
      }
    }

    &-bl1 {
      margin-bottom: 40px;
    }

    &-title1 {
      @extend .h3;
      color: #505050;
      margin-bottom: 20px;
    }

    &-text1 {
      @extend .text-body;
      color: #383838;
      padding: 20px 0;

      @include media-breakpoint-only("s") {
        padding: 15px 0;
      }
    }

    &-img2 {
      box-shadow: 10px 10px 50px rgba(95, 95, 95, 0.25);
      border-radius: 100%;
      margin-bottom: 20px;
    }

    &-box2 {
      margin-bottom: 80px;

      @include media-breakpoint-only("s") {
        margin-bottom: 30px;
      }
    }

    &-img3 {
      @include media-breakpoint-only("s") {
        display: none;
      }
    }

    &-img4 {
      display: none;

      @include media-breakpoint-only("s") {
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
      }
    }

    &-title2 {
      @extend .h4;
      color: #5E95BF;
      margin-bottom: 10px;
    }

    &-text2 {
      @extend .text-body;
      color: #383838;
      padding: 10px 0;
    }

    &-hr4 {
      margin-bottom: 30px;

      @include media-breakpoint-only("s") {
        margin-bottom: 20px;
      }
    }

    &-num {
      display: none;

      @include media-breakpoint-only("s") {
        display: inline;
      }
    }

    &-box3 {
      margin-bottom: 200px;

      @include media-breakpoint-only("s") {
        margin-bottom: 100px;
      }
    }
  }
}

.t12 {
  &__block1 {
    margin-bottom: 100px;

    @include media-breakpoint-only("s") {
      margin-bottom: 50px
    }

    &-title {
      @extend .h3;
      color: #505050;
      margin-bottom: 10px;
    }

    &-hr {
      margin-bottom: 30px;

      @include media-breakpoint-only("s") {
        margin-bottom: 20px;
     }
    }

    &-img2 {
      display: none;

      @include media-breakpoint-only("s") {
        display: block;
        margin-bottom: 20px;
      }
    }

    &-img {
      @include media-breakpoint-only("s") {
        display: none;
     }
    }

    &-text {
      @extend .text-body;
      color: #383838;
    }
  }

  &__block2 {
    background: #F8F8F8;
    padding: 100px 0;

    @include media-breakpoint-only("s") {
      padding: 50px 0;
    }

    &-title {
      @extend .h3;
      color: #505050;
      margin-bottom: 10px;
    }

    &-hr {
      background: #ECECEC;
      position: relative;
      margin-bottom: 50px;

      @include media-breakpoint-only("s") {
        margin-bottom: 30px;
      }

      &:before {
        content: '';
        height: 1px;
        background: #ECECEC;
        position: absolute;
        width: 100vw;
        left: -80vw;
      }
    }

    &-img1 {
      @include media-breakpoint-only("s") {
        position: relative;
        left: -100px;
      }
    }

    &-img2 {
      @include media-breakpoint-only("s") {
        position: relative;
        right: -32px;
      }
    }
  }

  &__block3 {
    padding: 100px 0 200px;
    @include media-breakpoint-only("s") {
      padding: 50px 0;
    }

    &-title {
      @extend .h3;
      color: #505050;
      margin-bottom: 10px;
    }

    &-hr {
      background: #ECECEC;
      position: relative;
      margin-bottom: 50px;

      @include media-breakpoint-only("s") {
        margin-bottom: 30px;
      }

      &:before {
        content: '';
        height: 1px;
        background: #ECECEC;
        position: absolute;
        width: 100vw;
        left: -80vw;
      }
    }

    &-img1 {
      margin: 0 auto;
      @include media-breakpoint-only("s") {
        display: none;
      }
    }

    &-img2 {
      display: none;

      @include media-breakpoint-only("s") {
        display: block;
        margin: 0 auto;
      }
    }
  }

  &__block5 {
    margin-bottom: 100px;
    @include media-breakpoint-only("s") {
      margin-bottom: 50px;
    }

    &-title {
      @extend .h3;
      color: #505050;
      margin-bottom: 10px;
    }

    &-hr {
      background: #ECECEC;
      position: relative;
      margin-bottom: 50px;

      @include media-breakpoint-only("s") {
        margin-bottom: 30px;
      }

      &:before {
        content: '';
        height: 1px;
        background: #ECECEC;
        position: absolute;
        width: 100vw;
        left: -80vw;
      }
    }

    &-img {
      margin: 0 auto;
      display: block;
    }
  }

  &__block6 {

    padding: 100px 0;
    background: linear-gradient(270deg, #5E95BF 0%, #89B4D6 100%);

    @include media-breakpoint-only("s") {
      padding: 50px 0;
    }

    &-title {
      @extend .h3;
      color: $color__white;
      margin-bottom: 10px;
    }

    &-hr {
      background: $color__white;;
      position: relative;
      margin-bottom: 50px;

      @include media-breakpoint-only("s") {
        margin-bottom: 30px;
      }

      &:before {
        content: '';
        height: 1px;
        background: $color__white;;
        position: absolute;
        width: 100vw;
        left: -80vw;
      }
    }

    &-img1 {
      margin: 0 auto;
      display: block;
      margin-bottom: 100px;

      @include media-breakpoint-only("s") {
        display: none;
      }
    }

    &-img2 {
      margin: 0 auto;
      display: none;
      margin-bottom: 50px;

      @include media-breakpoint-only("s") {
        display: block;
      }
    }

    &-box {
      background: $color__white;
      padding: 50px;

      @include media-breakpoint-only("s") {
        padding: 0;
      }
    }

    &-img3 {
      margin: 0 auto;
      display: block;

      @include media-breakpoint-only("s") {
        display: none;
      }
    }

    &-img4 {
      margin: 0 auto;
      display: none;

      @include media-breakpoint-only("s") {
        display: block;
      }
    }
  }

  &__block7 {
    padding: 100px 0 200px;
    @include media-breakpoint-only("s") {
      padding: 50px 100px;
    }

    &-title {
      @extend .h3;
      color: #505050;
      margin-bottom: 10px;
    }

    &-hr {
      margin-bottom: 30px;

      @include media-breakpoint-only("s") {
        margin-bottom: 20px;
     }
    }

    &-img2 {
      display: none;

      @include media-breakpoint-only("s") {
        display: block;
        margin-bottom: 20px;
      }
    }

    &-img {
      @include media-breakpoint-only("s") {
        display: none;
     }
    }

    &-text {
      @extend .text-body;
      color: #383838;
    }

    &-text1{
      @extend .text-body;
      color: #383838;
      padding: 20px 0;
  
      @include media-breakpoint-only("s") {
        padding: 10px 0;
      }
    }
  }

  &__block8 {
    margin-bottom: 200px;
    @include media-breakpoint-only("s") {
      margin-bottom: 70px;
    }

    &-title {
      @extend .h3;
      color: #505050;
      margin-bottom: 10px;
    }

    &-hr {
      background: #ECECEC;
      position: relative;
      margin-bottom: 50px;

      @include media-breakpoint-only("s") {
        margin-bottom: 30px;
      }

      &:before {
        content: '';
        height: 1px;
        background: #ECECEC;
        position: absolute;
        width: 100vw;
        left: -80vw;
      }
    }

    &-box {
      display: flex;
      flex-direction: column;

      @include media-breakpoint-only("s") {
        margin-bottom: 30px;
      }
    }

    &-img {
      margin-bottom: 20px;
    }

    &-sub {
      @extend .h8;
      color: #505050;
      margin-bottom: 10px;
    }

    &-text1 {
      @extend .text-body;
      color: #383838;
    }
  }

}