.t-1 {
  .box {
    border: 1px solid #ECECEC;
    padding: 40px 30px;
    margin-bottom: 40px;

    @include media-breakpoint-only("s") {
      padding: 20px;
      margin-bottom: 30px;
    }

    .title {
      @extend .h3;
      color: #505050;
      margin-bottom: 10px;
    }

    hr {
      margin-bottom: 30px;

      @include media-breakpoint-only("s") {
        margin-bottom: 15px;
      }
    }

    .text {
      @extend .text-body;
      color: #383838;

      p {
        padding: 0;
        margin: 0;
      }
    }
  }

  .box-2 {
    margin-bottom: 20px;

    .text {
      @extend .h6;
      text-align: center;
      color: #505050;
      margin-bottom: 10px;
    }

    .image {
      width: 100%;
    }
  }

  .mar {
    margin-bottom: 70px;

    @include media-breakpoint-only("s") {
      margin-bottom: 20px;
    }
  }

  .mode {
    background: #F8F8F8;
    margin-bottom: 100px;
    padding: 100px 0;

    @include media-breakpoint-only("s") {
      margin-bottom: 50px;
      padding: 50px 0;
    }

    .title {
      @extend .h3;
      color: #505050;
      margin-bottom: 10px;
    }

    .bl {
      position: relative;
      height: 700px;

      @include media-breakpoint-only("s") {
        height: 550px;
      }

      .image-1 {
        position: absolute;
        left: 40px;
        top: 0;

        @include media-breakpoint-only("s") {
          width: 156px;
          left: 0;
        }
      }

      .image-2 {
        position: absolute;
        right: 0;
        top: 100px;

        @include media-breakpoint-only("s") {
          left: 0;
          top: 250px;
        }
      }

      .text-2{
        position: absolute;
        top: 0;
        right: 0;

        @include media-breakpoint-only("s") {
          right: 50px;
          top: 20px;
        }
      }

      .text-1 {
        @extend .h8;
        position: absolute;
        bottom: 0;
        left: 0;
        max-width: 346px;

        @include media-breakpoint-only("s") {
          position: absolute;
          bottom: 47px;
          left: 0;
          max-width: 158px;
        }
      }
    }
  }

  .o {
    padding: 100px 0;

    @include media-breakpoint-only("s") {
      padding: 50px 0;
    }

    .title {
      @extend .h3;
      color: #505050;
      max-width: 585px;
      margin-bottom: 20px;

      @include media-breakpoint-only("s") {
        margin-bottom: 15px;
      }
    }

    .text {
      @extend .text-body;
      color: #383838;
      margin-bottom: 50px;

      @include media-breakpoint-only("s") {
        margin-bottom: 20px;
      }
    }
  }

  .v {
    background: linear-gradient(270deg, #5E95BF 0%, #89B4D6 100%);
    padding: 100px 0;
    margin-bottom: 100px;

    @include media-breakpoint-only("s") {
      padding: 50px 0;
      margin-bottom: 50px;
    }

    .image-1 {
      margin-bottom: 100px;
      @include media-breakpoint-only("s") {
        display: none;
      }
    }

    .image-2 {
      display: none;
      @include media-breakpoint-only("s") {
        display: block;
        margin-bottom: 50px;
      }
    }

    .title {
      @extend .h3;
      color: #FEFEFE;
      margin-bottom: 10px;
    }

    .hr {
      margin: 0 0 80px 0;
      position: relative;
      
      &::before {
        content: '';
        position: absolute;
        right: 0;
        height: 1px;
        background: $color__gray-line;
        width: 100vw;
      }

      &.white {
        &:after {
          background: $color__white;
        }
      }

      &:after {
        content: '';
        position: absolute;
        height: 7px;
        width: 7px;
        border-radius: 100%;

        background: $color__white;
        top: -3px;
      }

      &.white {
        &:before {
          background: $color__white;
        }
      }

      @include media-breakpoint-only("s") {
        margin: 0 0 100px 0;
      }
    }

    .text-2 {
      @extend .text-body;
      color: #FEFEFE;

      @include media-breakpoint-only("s") {
        order: 1
      }
    }

    .text {
      @extend .text-body;
      color: #FEFEFE;
    }

    .alc {
      align-items: center;
      position: relative;
    }

    .m-order-1 {
      @include media-breakpoint-only("s") {
        order: 1
      }
    }

    .image-4 {
      position: absolute;
      top: -80px;
      right: 0;
      width: 400px;

      @include media-breakpoint-only("s") {
        top: -100px;
        width: 208px;
      }
    }
  }
}

.t-2 {
  margin-bottom: 200px;

  @include media-breakpoint-only("s") {
    margin-bottom: 100px;
  }

  .title {
    @extend .h3;
    color: #505050;
    margin-bottom: 10px;

    @include media-breakpoint-only("s") {
      display: none;
    }
  }

  .titl1 {
    display: none;

    @include media-breakpoint-only("s") {
      display: block;
    }
  }

  .hr {
    margin-bottom: 30px;
    @include media-breakpoint-only("s") {
      display: none;
    }
  }

  .alc {
    align-items: center;
    margin-bottom: 100px;
  }

  .image {
    @include media-breakpoint-only("s") {
      margin-bottom: 15px;
    }
  }

  .text {
    @extend .text-body;
    color: #383838;
  }

  .t-2-slider {
    margin-bottom: 200px;

    @include media-breakpoint-only("s") {
      margin-bottom: 100px;
    }
  }

  .swiper-slide {
    box-sizing: border-box;
    .block {
      border: 1px solid #ECECEC;

      .b-title {
        @extend .h3;
        color: #505050;
        text-align: center;
        margin-top: 10px;

        @include media-breakpoint-only("s") {
          margin-top: 20px;
          margin-bottom: 10px;
        }
      }

      .b-subtitle {
        @extend .text-body;
        color: #383838;
        text-align: center;
        margin-bottom: 10px;
      }

      .b2 {
        height: 230px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .bl {
        margin: 0 20px;
        padding: 15px;
        background: #F8F8F8;
        height: 90px;
        margin-bottom: 60px;

        @include media-breakpoint-only("s") {
          height: 81px;
          margin-bottom: 30px;
        }

        .text-1 {
          @extend .h4;
          color: #505050;
          margin-bottom: 14px;
          text-align: center;

          @include media-breakpoint-only("s") {
            margin-bottom: 10px;
          }
        }

        .text-2 {
          @extend .text-body;
          color: #383838;
          text-align: center;
          padding: 0 50px;
        }
      }

      .title-3 {
        @extend .h6;
        color: #383838;
        text-align: center;
        margin-bottom: 10px;
        text-align: center;

        @include media-breakpoint-only("s") {
          max-width: 100%;
        }
      }

      .img-2 {
        display: block;
        margin: 0 auto;
        margin-bottom: 60px;
        max-width: 194px;

        @include media-breakpoint-only("s") {
          margin-bottom: 30px;
        }
      }

      .img-3 {
        display: block;
        margin: 0 auto;
      }
    }
  }

  .bl-3 {
    .b-title {
      @extend .h3;
      color: #505050;
      margin-bottom: 10px;

    }

    hr.hr-2 {
      margin: 0 0 80px 0;
      position: relative;
      margin-bottom: 50px;
      
      &::before {
        content: '';
        position: absolute;
        right: 0;
        height: 1px;
        background: $color__gray-line;
        width: 100vw;
      }

      &.white {
        &:after {
          background: $color__white;
        }
      }

      &.white {
        &:before {
          background: $color__white;
        }
      }

      @include media-breakpoint-only("s") {
        margin: 0 0 40px 0;
      }
    }
  }

  .bl-n {
    padding: 20px;
    background: #F8F8F8;

    @include media-breakpoint-only("s") {
      padding: 10px;
      margin-bottom: 30px;
    }
  }

  .text-23 {
    @extend .text-body;
    color: #383838;
    text-align: center;
  }

  .image-bl {
    margin-bottom: 5px;
  }
}

.t-3 {
  padding-bottom: 200px;

  @include media-breakpoint-only("s") {
    padding-bottom: 100px;
  }

  &__subtitle {
    @extend .h1;
    color: #505050;
    padding: 30px 70px;
    border-bottom: 1px solid #ECECEC;
    border-top: 1px solid #ECECEC;
    margin-bottom: 50px;

    @include media-breakpoint-only("s") {
      padding: 15px 0;
      margin-bottom: 20px;
    }
  }

  &__text {
    @extend .text-body;
    color: #383838;
  }

  &__img {
    @include media-breakpoint-only("s") {
      margin-bottom: 20px;
    }
  }
}

.t-4 {
  padding-bottom: 200px;

  @include media-breakpoint-only("s") {
    padding-bottom: 100px;
  }

  &__title {
    @extend .h3;
    color: #505050;
    margin-bottom: 50px;
    opacity: .3;

    @include media-breakpoint-only("s") {
      padding-bottom: 20px;
    }
  }

  &__num {
    @extend .h3;
    color: #ECECEC;
    margin-bottom: 5px;
  }

  &__hr {
    margin-bottom: 50px;

    @include media-breakpoint-only("s") {
      margin-bottom: 20px;
    }
  }

  &__title-2 {
    @extend .h6;
    margin-bottom: 5px;
    color: #383838;
  }

  &__text-2 {
    @extend .text-body;
    color: #383838;
    margin-bottom: 20px;
  }

  &__img {
    margin-bottom: 25px;

    @include media-breakpoint-only("s") {
      margin-bottom: 20px;
    }
  }

  &__text-3 {
    @extend .text-body;
    color: #383838;

    @include media-breakpoint-only("s") {
      margin-bottom: 30px;
    }
  }

  &__block {
    margin-bottom: 100px;

    @include media-breakpoint-only("s") {
      margin-bottom: 50px;
    }
  }

  &__block-2 {
    padding: 100px 0;
    background: linear-gradient(270deg, #5E95BF 0%, #89B4D6 100%);
    margin-bottom: 100px;

    @include media-breakpoint-only("s") {
      padding: 50px 0;
      margin-bottom: 50px;
    }
  }

  &__title-3 {
    @extend .h2;
    color: $color__white;
    padding: 20px 0 30px;
    border-bottom: 1px solid $color__white;
    border-top: 1px solid $color__white;
    margin-bottom: 30px;

    @include media-breakpoint-only("s") {
      padding: 15px 0;
      text-align: center;
      margin-bottom: 20px;
    }
  }

  &__text-3 {
    @extend .text-body;
    color: $color__white;
  }

  &__block-3 {
    margin-bottom: 200px;

    @include media-breakpoint-only("s") {
      margin-bottom: 50px;
    }
  }

  &__title-4 {
    @extend .h3;
    color: #505050;

    @include media-breakpoint-only("s") {
      margin-bottom: 20px;
    }
  }

  &__text-4 {
    @extend .text-body;
    color: #383838;
  }

  &__text-5 {
    @extend .text-body;
    color: #383838;
    margin-bottom: 50px;

    @include media-breakpoint-only("s") {
      margin-bottom: 20px;
    }
  }

  &__box {
    background: linear-gradient(270deg, #5E95BF 0%, #89B4D6 100%);
    padding: 30px 0;
  }

  &__box-2 {
    padding: 0 20px 0;
  }

  &__title-5 {
    margin-bottom: 15px;
    color: $color__white;
    @extend .h4;

    @include media-breakpoint-only("s") {
      margin-bottom: 10px;
    }
  }

  &__text-6 {
    @extend .text-body;
    color: $color__white;
  }

  &__dn {
    display: none;
    
    @include media-breakpoint-only("s") {
      display: block;
    }
  }

  &__hr-2 {
    background: $color__white;
    margin: 15px 20px;
    
  }

  &__box-3 {
    

    @include media-breakpoint-only("s") {
      overflow-x: scroll;
    }
  }

  &__image-5 {
    min-width: 100%;

    @include media-breakpoint-only("s") {
      height: 400px;
      max-width: fit-content;
    }
  }
}