.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	cursor: pointer;
	font-weight: 600;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 20px 60px;
	border-radius: 12px;
	text-decoration: none;
	background: #64A9C6;
	transition: .3s;


	@include media-breakpoint-only('s') {
			font-size: 10px;
			padding: 12px 40px;
			align-self: stretch;
			text-align: center;
	}

	&:hover {
		opacity: .8;
	}

	&:active {
		// background: #4E81A9;
		outline: none;
	}
}