.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	padding: 12px 41px;
	background: #5E95BF;
	border-radius: 3px;
	font-weight: 500;
	font-size: 14px;
	line-height: 15px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	color: #FEFEFE;
	margin: 0px 10px;
	border: none;
	cursor: pointer;
	transition: .3s;

	&:hover {
		background: #69A9DB;
		box-shadow: 5px 5px 30px rgba(94, 149, 191, 0.3);
	}

	&:active {
		background: #4E81A9;
		outline: none;
	}
}
