.link {
	cursor: pointer;
	transition: .3s;
	white-space: nowrap;

	&:active {
		outline: none;
	}

	&.link-primary {
		@extend .text-btn-large;

		display: inline-block;
		text-decoration: none;
		padding: 16px 53px;
		background: $color__blue-btn-accent;
		border-radius: 3px;
		color: $color__white;
		border: none;

		&:hover {
			background: $color__btn-hover;
			@extend .effect-btn-hover;
		}
	
		&:active {
			background: $color__btn-click;
		}
	}

	&.link-outline {
		@extend .text-btn-large;

		display: inline-block;
		text-decoration: none;
		padding: 13px 32px;
		background: none;
		border-radius: 3px;
		color: $color__blue-btn-accent;
		border: 1px solid $color__blue-btn-accent;

		&:hover {
			background: $color__blue-btn-accent;
			color: $color__white;
		}
	
		&:active {
			background: $color__btn-click;
		}
	}

	&.link-plus {
		@extend .text-btn-large;

		display: inline-block;
		position: relative;
		color: $color__blue-btn-accent;
		vertical-align: baseline;
		padding-right: 20px;
		text-decoration: underline;
		text-decoration-color: rgba(255, 255, 255, 0);

		&::after {
			content: '+';
			position: absolute;
			font-weight: 500;
			font-size: 27px;
			right: 0;
		}

		&:hover {
			text-decoration-color: $color__blue-btn-accent;
		}
	
		&:active {
			color: $color__btn-click;
			text-decoration-color: $color__btn-click;
		}
	}

	&.link-primary.link-fill {
		background: $color__white;
		color: $color__blue-btn-accent;
		padding: 16px 20px;

		&:hover {
			background: $color__white;
			box-shadow: 5px 5px 30px rgba(255, 255, 255, 0.3);
		}
	
		&:active {
			color: $color__blue-btn-accent;
		}
	}

	&.link-outline.link-fill {
		color: $color__white;
		border: 1px solid $color__white;
		padding: 16px 20px;

		&:hover,
		&:active {
			background: $color__white;
			color: $color__blue-btn-accent;
		}
	}

	&.link-download {
		&::after {
			content: url(./img/svg/icon-download.svg);
			margin-left: 3px;
		}
	}
}