.product-indications {
  margin-bottom: 200px;

  @include media-breakpoint-only("s") {
    margin-bottom: 100px;
  }

  &__container {
    @extend .container;
  }

  &__row {
    @extend .row;
    margin-bottom: -15px;
  }

  &__col {
    @extend .col-6;
    @extend .col-l-3;
  }

  &__col-2 {
    @extend .col-12;
  }

  &__item {
    height: 71px;
    background: $color__gray-lightest;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  &__text {
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    padding: 0 15px;
    flex-grow: 1;
    letter-spacing: 0.005em;
    color: $color__gray-darker-text;

    @include media-breakpoint-only('s') {
      font-size: 13px;
      line-height: 20px;
    }
  }

  &__item-2 {
    padding: 30px 67px;
    background: #F8F8F8;
    border-radius: 5px;
    margin-bottom: 20px;

    @include media-breakpoint-only('s') {
      padding: 10px;
    }
  }

  &__text-2 {
    font-weight: normal;
    font-size: 17px;
    line-height: 27px;
    color: #383838;

    @include media-breakpoint-only('s') {
      font-weight: normal;
      font-size: 15px;
      line-height: 23px;
    }
  }

  &__title-2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: #505050;
    margin-bottom: 10px;

    @include media-breakpoint-only('s') {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__hr-2 {
    margin-bottom: 20px;
  }

  &__col-3 {
    @extend .col-12;
    @extend .col-l-6;
  }

  &__col-3-2 {
    @extend .col-6;
    @extend .col-l-4;
  }

  &__item-3 {
    position: relative;
    margin-bottom: 30px;

    @include media-breakpoint-only('s') {
      margin-bottom: 20px;
    }
  }

  &__text-3 {
    position: absolute;
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    color: #FEFEFE;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 10px;
    display: block;
    left: 0;
    margin: 0 auto;
    right: 0;

    @include media-breakpoint-only('s') {
      font-size: 13px;
      line-height: 23px;
    }
  }

  &__text-3-2 {
    font-weight: normal;
    font-size: 17px;
    line-height: 27px;
    color: #383838;

    @include media-breakpoint-only('s') {
      font-size: 15px;
      line-height: 23px;
    }
  }
}

