$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__white: #FEFEFE;
$color__error: #EF4849;
$color__liner: rgba(254, 254, 254, 0.6);
$color__pop-up-liner: rgba(64, 64, 64, 0.5);
$color__navbar: rgba(254, 254, 254, 0.6);

$color__blue-heading: #153C58;
$color__blue-btn-accent: #5E95BF;
$color__blue-lighter: #1E496B;

$color__gray-line: #ECECEC;
$color__gray-body-text: #383838;
$color__gray-darker-text: #505050;
$color__gray-lightest: #F8F8F8;
$color__gray-gray: #A9A9AC;
$color__gray-navigation: #F1F1F1;

$color__liner-liner: linear-gradient(270deg, #5E95BF 0%, #89B4D6 100%);
$color__liner-baner: linear-gradient(359.32deg, rgba(39, 39, 39, 0.3) 0.56%, rgba(39, 39, 39, 0.15254) 49.14%, rgba(39, 39, 39, 0) 99.39%);
$color__liner-hover: linear-gradient(270deg, rgba(94, 149, 191, 0.6) 0%, rgba(137, 180, 214, 0.6) 100%);
$color__liner-video: linear-gradient(359.32deg, rgba(39, 39, 39, 0.3) 0.56%, rgba(39, 39, 39, 0.18) 49.14%, rgba(39, 39, 39, 0.15) 99.39%);

$color__btn-click: #4E81A9;
$color__btn-hover: #69A9DB;
