.events-page {
  &__title {
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    letter-spacing: -0.02em;
    color: #303034;
    margin: 50px 0;

    @include media-breakpoint-only("s") {
      margin: 30px 0;
      font-size: 36px;
      line-height: 100%;
    } 
  }

  &__full {
    margin-bottom: 100px;

    @include media-breakpoint-only("s") {
      display: none;
    } 
  }

  &__entry {
    display: none;

    @include media-breakpoint-only("s") {
      display: block;
    } 
  }

  &__item {
    margin-bottom: 30px;

    & > * {
      height: 376px;

      @include media-breakpoint-only("s") {
        height: 331px;
      } 
    }
  }

  &__nav {
    display: flex;

    @include media-breakpoint-only("s") {
      display: none;
    } 
  }
}

.events-page-prev {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid #E6E6E6;
  color: #969797;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
  margin-right: 10px;
  
  &.swiper-button-disabled {
    color: #E6E6E6;
  }
}

.events-page-next {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid #E6E6E6;
  text-align: center;
  line-height: 35px;
  color: #969797;
  cursor: pointer;
  
  &.swiper-button-disabled {
    color: #E6E6E6;
  }
}
