.h3-block {
    &__h3 {
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: -0.02em;
        color: #303034;
        margin-bottom: 10px;
        margin-top: 0;
        @include media-breakpoint-only('s') {
            font-size: 24px;
            line-height: 29px;
            // line-height: 44px;
            margin-bottom: 5px;
        }
    }
    &__hr {
        background: #E5E5E5;
        margin-bottom: 100px;
        @include media-breakpoint-only('s') {
            margin-bottom: 50px;
        }
    }
}