.page-home {}

.ph-cover {
    margin: 0 20px;
    overflow: hidden;
    background: #FAFAFA;
    @include media-breakpoint-only("s") {
        margin: 0;
    }
    &__text1 {
        font-weight: 600;
        font-size: 48px;
        line-height: 58px;
        letter-spacing: -0.02em;
        /* Black */
        color: #303034;
        margin-bottom: 30px;
        @include media-breakpoint-only("s") {
            margin-bottom: 10px;
            font-size: 28px;
            line-height: 34px;
            max-width: 270px;
        }
    }
    &__block2 {
        padding: 100px 0;
        @include media-breakpoint-only("s") {
            padding: 40px 0 30px;
        }
    }
    &__text2 {
        font-size: 24px;
        line-height: 150%;
        /* or 36px */
        /* Body */
        color: #65656C;
        margin-bottom: 50px;
        @include media-breakpoint-only("s") {
            font-size: 16px;
            line-height: 150%;
            margin-bottom: 20px;
        }
    }
    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__link {
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 20px 60px;
        border-radius: 12px;
        text-decoration: none;
        background: #64A9C6;
        &:hover {
            opacity: .8;
        }
        @include media-breakpoint-only('s') {
            font-size: 10px;
            padding: 12px 40px;
            // align-self: stretch;
            text-align: center;
            margin-bottom: 70px;
        }
    }
    &__block3 {
        position: relative;
        z-index: 1;
    }
    &__c {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include media-breakpoint-only('s') {
            transform: translate(-50%, -50%) scale(0.6);
        }
    }
    &__block4 {
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        background: white;
    }
    &__block5 {
        padding: 50px 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include media-breakpoint-only('s') {
            padding: 30px 0;
            flex-wrap: wrap;
        }
    }
    &__title3 {
        font-weight: 600;
        font-size: 24px;
        line-height: 150%;
        margin-bottom: 20px;
        color: #303034;
        @include media-breakpoint-only('s') {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 10px;
        }
    }
    &__text3 {
        font-size: 18px;
        line-height: 150%;
        color: #65656C;
        @include media-breakpoint-only('s') {
            font-size: 14px;
        }
    }
    &__block6 {
        max-width: 285px;
    }
    &__hr3 {
        background: #E6E6E6;
        height: 60px;
        width: 1px;
        @include media-breakpoint-only('s') {
            height: 1px;
            flex: 0 0 100%;
            margin: 20px 0;
        }
    }
}

.ph-b2 {
    margin: 0 20px;
    @include media-breakpoint-only("s") {
        margin: 0;
    }
    &__bl1 {
        display: flex;
        justify-content: space-between;
        @include media-breakpoint-only("s") {
            margin: 0 10px;
            flex-wrap: wrap;
        }
    }
    &__bl2 {
        width: calc(100% / 2 - 15px);
        display: flex;
        align-items: flex-start;
        background-position: center;
        background-size: cover;
        flex-direction: column;
        padding: 50px;
        height: 450px;
        @include media-breakpoint-only("s") {
            padding: 30px 10px;
            width: 100%;
            height: 270px;
            margin-bottom: 10px;
        }
    }
    &__bl3 {
        width: calc(100% / 2 - 15px);
        display: flex;
        align-items: flex-start;
        background-position: center;
        background-size: cover;
        flex-direction: column;
        padding: 50px;
        height: 450px;
        margin-bottom: 30px;
        @include media-breakpoint-only("s") {
            padding: 30px 10px;
            width: 100%;
            height: 270px;
            margin-bottom: 10px;
        }
    }
    &__title {
        margin-top: auto;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        color: #FFFFFF;
        margin-bottom: 30px;
        @include media-breakpoint-only("s") {
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 10px;
        }
    }
    &__text {
        font-size: 18px;
        line-height: 150%;
        /* identical to box height, or 27px */
        color: #FFFFFF;
        margin-bottom: 40px;
        @include media-breakpoint-only("s") {
            font-size: 14px;
            line-height: 150%;
            margin-bottom: 20px;
        }
    }
    &__link {
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #303034;
        padding: 20px 60px;
        border-radius: 12px;
        text-decoration: none;
        background: #ffffff;
        &:hover {
            opacity: .8;
        }
        @include media-breakpoint-only('s') {
            font-size: 10px;
            padding: 12px 40px;
            // align-self: stretch;
            text-align: center;
            // margin-bottom: 70px;
        }
    }
}

.ph-events {
    margin: 0 20px;
    padding: 50px 0 100px;
    overflow: hidden;
    background: #FAFAFA;
    @include media-breakpoint-only("s") {
        margin: 0;
        padding: 30px 0;
    }
    &__title {
        font-weight: bold;
        font-size: 48px;
        line-height: 58px;
        /* identical to box height */
        /* Black */
        color: #303034;
        @include media-breakpoint-only("s") {
            // margin: 0;
            // padding: 30px 0;
            font-size: 28px;
            line-height: 34px;
        }
    }
    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
        @include media-breakpoint-only("s") {
            margin-bottom: 30px;
        }
    }
    &__link {
        font-size: 16px;
        line-height: 150%;
        /* identical to box height, or 24px */
        color: #64A9C6;
        &:hover {
            opacity: .8;
        }
        @include media-breakpoint-only("s") {
            font-size: 14px;
            line-height: 150%;
        }
    }
}

.ph-t {
    margin: 30px 20px;
    padding: 50px 0 100px;
    overflow: hidden;
    background: #FAFAFA;
    @include media-breakpoint-only("s") {
        margin: 10px 0;
        padding: 30px 0;
    }
    &__title {
        font-weight: bold;
        font-size: 48px;
        line-height: 58px;
        /* identical to box height */
        /* Black */
        color: #303034;
        @include media-breakpoint-only("s") {
            // margin: 0;
            // padding: 30px 0;
            font-size: 28px;
            line-height: 34px;
        }
    }
    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
        @include media-breakpoint-only("s") {
            margin-bottom: 30px;
        }
    }
    &__link {
        font-size: 16px;
        line-height: 150%;
        /* identical to box height, or 24px */
        color: #64A9C6;
        &:hover {
            opacity: .8;
        }
        @include media-breakpoint-only("s") {
            font-size: 14px;
            line-height: 150%;
        }
    }
    .swiper-slide {
        width: auto;
    }
    &__slider {
        overflow: initial;
    }
}

.ph-t-s {
    width: 495px;
    background: white;
    padding: 40px;
    box-sizing: border-box;
    @include media-breakpoint-only("s") {
        width: auto;
        padding: 20px;
    }
    &__img {
        border-radius: 100%;
        width: 100px;
        margin-right: 20px;
        @include media-breakpoint-only("s") {
            width: 60px;
            margin-right: 10px;
        }
    }
    &__text1 {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        /* identical to box height */
        /* Black */
        color: #303034;
        margin-bottom: 10px;
        @include media-breakpoint-only("s") {
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 5px;
        }
    }
    &__text2 {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        /* identical to box height, or 21px */
        /* Black */
        color: #303034;
        margin-bottom: 5px;
        @include media-breakpoint-only("s") {
            margin-bottom: 0;
            font-size: 12px;
            line-height: 150%;
        }
    }
    &__text3 {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        /* identical to box height, or 21px */
        /* #969797 */
        color: #969797;
        @include media-breakpoint-only("s") {
            font-size: 12px;
            line-height: 150%;
        }
    }
    &__b1 {
        display: flex;
        margin-bottom: 20px;
    }
    &__text4 {
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        /* or 27px */
        /* Body */
        color: #65656C;
        @include media-breakpoint-only("s") {
            font-size: 12px;
            line-height: 150%;
        }
    }
    &__more {
        margin-top: 20px;
        font-size: 14px;
        line-height: 150%;
        /* identical to box height, or 21px */
        /* Black */
        color: #303034;
        display: flex;
        align-items: center;
        cursor: pointer;
        @include media-breakpoint-only("s") {
            font-size: 14px;
            line-height: 150%;
        }
    }
    &__icon {
        margin-left: 5px;
    }
    &__span {
        line-height: 24px;
    }
    &__hide {
        overflow: hidden;
        height: 185px;
    }
}