.home-main {
  padding: 50px 0 40px;

  @include media-breakpoint-only('s') {
    padding: 0 0 30px;
  }

  &__title {
    @extend .h1;
    margin: 0 0 20px;

    @include media-breakpoint-only('s') {
      margin: 0 0 10px;
    }
  }

  &__color {
    color: $color__blue-btn-accent;
  }

  &__text {
    color: $color__blue-heading;
  }

  &__hr {
    margin-bottom: 40px;

    @include media-breakpoint-only('s') {
      margin-bottom: 20px;
    }
  }

  &__link {
    @include media-breakpoint-only('s') {
      width: 100%;
      text-align: center;
    }
  }
}

.home-slider {
  position: relative;

  &__container {
    box-sizing: border-box;
  }

  &__slide {
    background-size: cover;
    background-position: center center;
  }

  &__gradient {
    background: $color__liner-video;
    padding: 346px 0 92px;

    @include media-breakpoint-only("s") {
      padding: 109px 0 33px;
    }
  }

  &__btn {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  &__header {
    font-weight: 600;
    font-size: 45px;
    line-height: 55px;
    text-transform: uppercase;
    color: $color__white;
    margin-bottom: 20px;

    @include media-breakpoint-only("s") {
      margin-bottom: 10px;
      font-size: 25px;
      line-height: 30px;
      max-width: 250px;
    }
  }

  &__text {
    @extend .text-body;
    color: $color__white;
    max-width: 400px;
    margin-bottom: 20px;
  }

  &__link {
    position: relative;
    top: 26px;
    z-index: 10;
  }

  &__t-o {
    @include media-breakpoint-only("s") {
      order: -1;
    }
  }

  &__nav-button {
    position: absolute;
    top: 90px;
    right: 0;
    left: 0;
    z-index: 10;

    @include media-breakpoint-only("s") {
      top: 20px;
    }

    .container {
      justify-content: space-between;
      display: flex;
    }
  }

  &__prev {
    cursor: pointer;
    &-90 {
      transform: rotateZ(180deg);
    }
    transition: .3s;

    &.swiper-button-disabled {
      opacity: 0;
    }

    @include media-breakpoint-only("s") {
      width: 48px;
    }
  }

  &__next {
    cursor: pointer;
    transition: .3s;

    &.swiper-button-disabled {
      opacity: 0;
    }

    @include media-breakpoint-only("s") {
      width: 48px;
    }
  }
}

.sl {
  &__container {
    box-sizing: border-box;
    position: relative;
  }

  &__dot {
    width: 9px;
    height: 9px;
    border-radius: 100%;
    background: $color__white;
    margin-left: auto;

    &-none {
      @include media-breakpoint-only("s") {
        display: none;
      }
    }
  }

  &__element-2 {
    position: relative;
    top: -5px;
  }

  &__hr1,
  &__hr2 {
    width: 1px;
  }
}