.home-main {
  padding: 50px 0 40px;

  @include media-breakpoint-only('s') {
    padding: 0 0 30px;
  }

  &__title {
    @extend .h1;
    margin: 0 0 20px;

    @include media-breakpoint-only('s') {
      margin: 0 0 10px;
    }
  }

  &__color {
    color: $color__blue-btn-accent;
  }

  &__text {
    color: $color__blue-heading;
  }

  &__hr {
    margin-bottom: 40px;

    @include media-breakpoint-only('s') {
      margin-bottom: 20px;
    }
  }

  &__link {
    @include media-breakpoint-only('s') {
      width: 100%;
      text-align: center;
    }
  }
}

.home-slider {
  position: relative;
  margin-bottom: 100px;

  @include media-breakpoint-only('s') {
    margin-bottom: 50px;
  }

  &__container {
    box-sizing: border-box;
  }

  &__slide {
    background-size: cover;
    background-position: center center;
  }

  &__gradient {
    background: $color__liner-video;
    padding: 346px 0 92px;

    @include media-breakpoint-only("s") {
      padding: 109px 0 33px;
    }
  }

  &__btn {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  &__header {
    font-weight: 600;
    font-size: 45px;
    line-height: 55px;
    text-transform: uppercase;
    color: $color__white;
    margin-bottom: 20px;

    @include media-breakpoint-only("s") {
      margin-bottom: 10px;
      font-size: 25px;
      line-height: 30px;
      max-width: 250px;
    }
  }

  &__text {
    @extend .text-body;
    color: $color__white;
    max-width: 400px;
    margin-bottom: 20px;
  }

  &__link {
    position: relative;
    top: 26px;
    z-index: 10;
  }

  &__t-o {
    @include media-breakpoint-only("s") {
      order: -1;
    }
  }

  &__nav-button {
    position: absolute;
    top: 90px;
    right: 0;
    left: 0;
    z-index: 10;

    @include media-breakpoint-only("s") {
      top: 20px;
    }

    .container {
      justify-content: space-between;
      display: flex;
    }
  }

  &__prev {
    cursor: pointer;
    &-90 {
      transform: rotateZ(180deg);
    }
    transition: .3s;

    &.swiper-button-disabled {
      opacity: 0;
    }

    @include media-breakpoint-only("s") {
      width: 48px;
    }
  }

  &__next {
    cursor: pointer;
    transition: .3s;

    &.swiper-button-disabled {
      opacity: 0;
    }

    @include media-breakpoint-only("s") {
      width: 48px;
    }
  }
}

.sl {
  &__container {
    box-sizing: border-box;
    position: relative;
  }

  &__dot {
    width: 9px;
    height: 9px;
    border-radius: 100%;
    background: $color__white;
    margin-left: auto;

    &-none {
      @include media-breakpoint-only("s") {
        display: none;
      }
    }
  }

  &__element-2 {
    position: relative;
    top: -5px;
  }

  &__hr1,
  &__hr2 {
    width: 1px;
  }
}

.home-about-us {
  margin-bottom: 200px;

  @include media-breakpoint-only("s") {
    margin-bottom: 100px;
  }

  &__text {
    @extend .text-body;
    color: $color__gray-body-text;

    &:first-child {
      margin-bottom: 15px;
    }
  }

  &__block-1 {
    margin-bottom: 85px;

    @include media-breakpoint-only("s") {
      margin-bottom: 50px;
    }
  }

  &__text-2 {
    @extend .h6;
    color: $color__gray-darker-text;
  }

  &__block-2 {
    margin-bottom: 20px;
  }

  &__text-3 {
    @extend .h4;
    color: $color__gray-darker-text;
    color: $color__gray-body-text;

    @include media-breakpoint-only("s") {
      margin-bottom: 5px;
    }
  }

  &__text-4 {
    @extend .text-body;
    color: $color__gray-body-text;
  }

  &__block-4 {
    align-items: center;

    @include media-breakpoint-only("s") {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }

  &__block-5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media-breakpoint-only("s") {
      margin-bottom: 20px;
    }

  }

  &__hr {
    @include media-breakpoint-only("s") {
      &:first-child,
      &:last-child {
        display: none;
      }
    }
  }

  &__img {
    @include media-breakpoint-only("s") {
      margin-bottom: 5px;
    }
  }

  &__link {
    display: none!important;

    @include media-breakpoint-only("s") {
      display: block!important;
      margin: 0 auto;
    }
  }

  &__block-6 {
    display: flex;
    justify-content: center;
  }
}

.home-news {
  margin-bottom: 100px;

  @include media-breakpoint-only("s") {
    margin-bottom: 50px;
  }

  &__block-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media-breakpoint-only("s") {
      margin-bottom: 35px;
      margin-top: 20px;
    }
  }

  &__link {
    display: none!important;

    @include media-breakpoint-only("s") {
      display: block!important;
    }
  }

  &__block-link {
    display: flex;
    justify-content: center;
  }
}

.news-1 {
  background-size: cover;
  background-position: center center;

  &__overlay {
    background: $color__liner-video;
    padding: 30px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include media-breakpoint-only("s") {
      padding: 10px 20px;
      height: 360px;
    }
  }

  &__tag {
    @extend .tag;
  }

  &__date {
    @extend .h4;
    color: $color__white;
    margin-bottom: 20px;
  }

  &__title {
    @extend .h2;
    color: $color__white;
    max-width: 415px;
  }
}

.news-2 {
  &__hr {
    margin-bottom: 25px;
  }

  &__tag {
    @extend .tag;
  }

  &__date {
    @extend .text-footernav;
    color: $color__gray-gray;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__title {
    @extend .h4;
    color: $color__gray-darker-text; 
    margin-bottom: 10px;
  }

  &__img {
    display: block;
  }

  &__overlay {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: $color__liner-video;
      z-index: 1;
    }
    
  }
}

.event-1 {
  border: 1px solid $color__gray-line;
  padding: 20px;
  transition: .3s;

  &:hover {
    border: 1px solid $color__gray-gray;
  }

  &__tag {
    @extend .tag;
    margin-bottom: 20px;
    display: inline-block;

    @include media-breakpoint-only("s") {
      margin-bottom: 15px;
    }  
  }

  &__title {
    @extend .h7;
    color: $color__gray-darker-text;
    margin-bottom: 20px;

    @include media-breakpoint-only("s") {
      margin-bottom: 15px;
    }  
  }

  &__img {
    margin-bottom: 20px;

    @include media-breakpoint-only("s") {
      margin-bottom: 15px;
    } 
  }

  &__text-1 {
    @extend .h8;
    color: $color__gray-body-text;
  }

  &__text-2 {
    @extend .h8;
    color: $color__gray-body-text;
    max-width: 150px;
    text-align: right;
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__hr {
    margin: 10px;
  }
}

.home-events {
  margin-bottom: 170px;

  @include media-breakpoint-only("s") {
    margin-bottom: 100px;
  }  

  &__event {
    margin-bottom: 30px;
  }
}

.home-products {

}

.home-decor {
  .conetent {
    position: relative;
    &::before {
      content: '0';

      
    }
  }
}

.review-1 {
  border: 1px solid $color__gray-line;
  position: relative;
  margin-top: 64px;

  @include media-breakpoint-only("s") {
    margin-top: 45px;
  } 

  &__image {
    width: 127px;
    position: absolute;
    transform: translateY(-50%) translateX(60px);
    height: 127px;
    border: 1px solid $color__gray-line;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color__white;

    @include media-breakpoint-only("s") {
      width: 90px;
      height: 90px;
      transform: translateY(-50%) translateX(28px);
    }  
  }

  &__img {
    border-radius: 100%;
    width: 117px;

    @include media-breakpoint-only("s") {
      width: 80px;
    }  
  }

  &__text {
    padding: 84px 30px 20px;
    @extend .text-body;
    color: $color__gray-body-text;

    @include media-breakpoint-only("s") {
      padding: 55px 20px 10px;
    }  
  }

  &__author {
    @extend .h8;
    color: $color__gray-darker-text;
    padding: 0 30px 20px;
    text-align: right;

    @include media-breakpoint-only("s") {
      padding: 0 20px 20px;
    }  
  }
}

.home-rev {
  margin-bottom: 100px;

  @include media-breakpoint-only("s") {
    margin-bottom: 40px;
  }  

  &__nav {
    max-width: 664px;
    margin: 40px auto 0;
    display: flex;
    align-items: center;
  }

  &__pagination {
    display: flex;
    background: $color__gray-line;
    height: 1px;
    margin: 0 25px;

    @include media-breakpoint-only("s") {
      margin: 0;
    }  
  }

  &__bullet {
    position: relative;
    top: -2px;
    height: 5px;
    flex-grow: 1;
    background: $color__gray-line;
    border-radius: 5px;
  }

  &__prev,
  &__next {
    @include media-breakpoint-only("s") {
      display: none;
    } 
  }
}