.category-menu {
  margin-bottom: 50px;

  @include media-breakpoint-only("s") {
    margin-bottom: 0;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    @include media-breakpoint-only("s") {
      flex-wrap: wrap;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;

      @include media-breakpoint-only("s") {
        margin-right: 20px;
      }
    }
  }

  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #303034;
    text-decoration: none;
    padding: 5px 30px;
    border: 1px solid #303034;
    border-radius: 8px;
    transition: .3s;
    display: block;

    @include media-breakpoint-only("s") {
      padding: 5px 20px;
      font-size: 12px;
      line-height: 150%;
      margin-bottom: 20px;
    }

    &:hover {
      color: white;
      background: #303034;
    }

    &-active {
      color: white;
      background: #303034;
    }
  }

  &__select {
    display: none;
    border-radius: 5px;
    border: 1px solid #ECECEC;
    padding: 5px 10px;
    @extend .h7;
    color: #5E95BF;
    background: none;

    @include media-breakpoint-only("s") {
      display: block;
    }
  }


  &__container {
    display: flex;
    justify-content: space-between;
  }
}
